[2013-07-08 08:59] olsh opened #1 "Loader in the popup"

[2013-07-08 08:59] olsh opened #2 "Russian translation"

[2013-07-08 09:00] olsh opened #3 "Go to Feedly button in the popup"

[2013-07-08 09:01] olsh opened #4 "Date of news in the popup"

[2013-07-08 19:48] olsh opened #5 "Scheduler bug"
Chrome limits alarms to at most once every 1 minute when extension is packed.
Therefore login and logout not executes immediately.

[2013-07-09 06:55] #4 closed, assigned to olsh

[2013-07-09 12:28] #3 closed, assigned to samodovdi

[2013-07-09 12:29] #5 closed, assigned to olsh

[2013-07-09 12:51] #1 closed, assigned to samodovdi

[2013-07-10 06:36] #2 closed, assigned to olsh

[2013-07-10 07:08] olsh opened #6 "Desktop notifications"
When are new feeds, show desktop notifications.

[2013-07-10 07:10] olsh opened #7 "Read in popup"
Ability read content of news in the popup.

[2013-07-10 09:16] samodovdi opened #8 "Close popup window"
Close popup window on icon click when popup window is already opened

[2013-07-11 05:24] samodovdi opened #9 ""Read all" button"
add "Read all" button to mark all unread articles as read

[2013-07-11 05:59] samodovdi opened #10 "Awesome new tab page integration"
Look on the integration with "Awesome new tab page" extension (https://chrome.google.com/webstore/detail/awesome-new-tab-page/mgmiemnjjchgkmgbeljfocdjjnpjnmcg)

[2013-07-12 22:47] #9 closed, assigned to samodovdi

[2013-07-12 22:47] #6 closed, assigned to olsh

[2013-07-12 22:47] #7 closed, assigned to samodovdi

[2013-07-12 22:47] #8 closed, assigned to olsh

[2013-07-15 11:23] olsh opened #11 "Close desktop notification after delay"

[2013-07-15 18:49] #11 closed, assigned to olsh

[2013-07-17 15:18] olsh opened #12 "Open article on notification click"

[2013-07-18 05:04] olsh opened #13 "Show full article option"

[2013-07-18 10:38] #12 closed, assigned to olsh

[2013-07-18 10:38] #13 closed, assigned to olsh

[2013-07-21 04:31] samodovdi opened #14 "Refresh button"
Add refresh button, to manually get new feeds

[2013-07-23 18:23] olsh opened #15 "Implement access token refresh"
When access token expires, we need update it without user interaction.

[2013-07-24 19:33] #14 closed, assigned to olsh

[2013-07-28 07:11] olsh opened #17 "Stick header buttons"
Stick header buttons "Mark all as read", "Update", "Feedly website" when user scrolls down, header always will be on top of popup.

[2013-07-28 07:32] olsh opened #18 "Update button animation"

[2013-07-28 07:34] olsh opened #19 "Ability to open site on button click, doesn't show popup"

[2013-07-28 07:40] olsh opened #20 "More precisely authorization request handling"
Request user authorization only when feedly api returns 401 error code.

[2013-07-28 07:51] olsh opened #21 "Use chrome.notifications on Windows instead webkitNotifications"

[2013-07-28 15:40] olsh opened #22 "Ability to save feeds for later reading"

[2013-07-30 13:33] #21 closed, assigned to olsh

[2013-08-06 20:37] #17 closed, assigned to samodovdi

[2013-08-06 20:37] #18 closed, assigned to samodovdi

[2013-08-06 20:37] #19 closed, assigned to olsh

[2013-08-06 20:37] #20 closed, assigned to olsh

[2013-08-06 20:37] #22 closed, assigned to olsh

[2013-08-09 16:01] johntholland opened #23 "Specify which Feed Categories affect the unread article number."
I have a few different categories of feeds:

![feed](https://f.cloud.github.com/assets/2025040/939087/acb45a0c-010c-11e3-9cde-ee1d74b44269.PNG)

I would really like to have the option of only seeing notifications for specific Categories. In my case I don't want to see uncategorized but I do want to see StackHack and StackExchange.

Would love to have that feature

[2013-08-26 12:20] ArnaudLigny opened #24 "Option to disable badge count (unread items)"
It would be interesting to have the ability to disable the display of the number of unread items because it is not always significant.

[2013-08-27 14:18] ArnaudLigny opened #26 "Can't connect without popup enabled"
If we are logged off and if we have choosen to disable the popup, the login button dosen't appear when we click on the browser action button (it opens the feedly website directly)

[2013-09-03 12:25] #23 closed, assigned to olsh

[2013-09-03 12:25] #24 closed, assigned to olsh

[2013-09-03 12:25] #26 closed, assigned to olsh

[2013-09-21 08:38] #15 closed, assigned to olsh

[2013-10-09 10:57] ExtremeMultiman opened #27 "Connection problems"
Ok, 2 things:
1) I'm connected with cloud.feedly but first time (example when reactivating extension) I have to access from feedly notifier even if I'm already connected.

Not a big bug as far as I'm concerned.

2) New bug from yesterday I get this:
{
    "errorId": "ap8-sv2.2013100903.3155421",
    "errorMessage": "unauthorized access: not logged in",
    "errorCode" : 401
}

Tried to disable/re-

[2013-10-09 11:23] #27 closed, assigned to nobody

[2013-10-18 19:15] Twista opened #29 "Diacritics (special chars)"
Hi, please can you use font witch diacritics support, e.g ěščřžýáíé, (Latin extended).

thanks a lot :)

[2013-10-19 22:16] #29 closed, assigned to nobody

[2013-11-11 17:23] IanDavey opened #30 "Chrome store manifest file invalid"
Attempting to install from the Chrome store (Chrome v. 30.0.1599.101, OSX 10.8.4) produces manifest-is-invalid message.

[2013-11-12 07:27] #30 closed, assigned to nobody

[2013-11-18 07:36] Twista opened #31 "Extension stopped working"
extension is unlogged and after try to login shows page with this json:

[code]

[2013-11-19 05:15] crazier9527 opened #32 "401 error"
{

[code]

}

[2013-11-19 05:17] #32 closed, assigned to nobody

[2013-11-20 20:37] #31 closed, assigned to nobody

[2013-11-24 07:02] dXtrmn8r opened #33 "No feeds on multi-worded categories"
When I have multiple-worded feed categories, no feeds from that category show up. They still show up however on the "All Feeds" section.

I've renamed that category to a single word, but hopefully a fix will come soon...

[2013-11-24 09:43] #33 closed, assigned to olsh

[2014-03-17 03:42] Thwaitesy opened #34 "Open all articles in 1 hit feature."
Hi,

Love the notifier, but when I have more than 1 article to read, its really annoying to have to go through each one and middle click to open it in a new tab.

I wish it had a "Open all articles" link that did just that.

Ive looked at the code, looks pretty simple to implement, I just don't have the time just at the moment.

[2014-03-31 19:57] #34 closed, assigned to olsh

[2014-05-12 17:29] xPaw opened #36 "Notifications don't work"
I think the notification API changed.

[2014-05-12 20:22] #36 closed, assigned to nobody

[2014-05-28 15:03] maximseshuk opened #37 "Ext not work"
https://monosnap.com/image/FcY7AfslqVvsqrupIAOhnbospBKKme.png

and so on forever.

[2014-05-28 18:52] #37 closed, assigned to nobody

[2014-05-29 06:30] #10 closed, assigned to nobody

[2014-06-03 23:16] cjmaxik opened #38 "Show content by default"
Please make option for showing full article without "show-content" clicking.

[2014-06-04 12:17] alienos opened #39 "Firefox 29 Linux Mint 17 Cinammon"
Icon displays the wrong feedly notifer firefox 29 linux mint 17 cinammon
![zrzut ekranu z 2014-06-04 14 13 51](https://cloud.githubusercontent.com/assets/7785010/3173168/2546d3bc-ebe2-11e3-8ee6-04ac0b40c631.png)

[2014-07-01 18:32] xrstf opened #40 "Allow to control popup width"
(using the Chrome extension)

I can already control the font-size of the popup that appears when I click the toolbar icon. Unfortunately, I have a lot of feeds with news items with loooong names. At the moment, they don't fit the popup and a linebreak occurs for nearly all items. Decreasing the font size is not an option, cause I cannot read text at 4px size ;-)

It would be awesome if the popup a

[2014-08-03 12:04] #38 closed, assigned to nobody

[2014-08-03 12:05] #40 closed, assigned to nobody

[2014-08-18 17:34] heavensrevenge opened #41 "New versions of Chrome have a default body text-size of 75%"
Hello again, in beta & dev versions of Chrome, for some reason they have decided to have a default body text-size of 75% making text needlessly small (this isn't because I have your "Popup font size in percent" option set).
Two of my extensions had the same problem and I've had to manually specify 100% that have relative sized test sizes so you're not alone.  I'll show you with a screenshot so you

[2014-08-18 19:43] #41 closed, assigned to nobody

[2015-03-03 07:36] olsh commented on #39
You can download the fixed version [here](https://addons.mozilla.org/en-US/firefox/addon/feedly-notifier/versions/?page=1#version-2.10.0).
Feel free to reopen the issue if bug still exists.

[2015-03-03 07:36] #39 closed

[2015-03-05 16:39] tophf commented on #21
[Rich notifications](https://developer.chrome.com/apps/richNotifications) would be awesome, especially in case Feedly Notifier fetches the feed content and displays its picture if there is one or a few lines of the text.

[2015-10-05 03:48] devolition opened #45 "Would you provide the "font change" option?"
Hi. I'm Korean. and thanks for add-on "Feedly Notifier"

but while I use this add-on. I have a few discomforts.
Current base font of add-on for alphabet, but In Korean letter... have bad readability.
like Comic Sans at alphabet font.

so.. would you add the font change option ?
OR change the korean font like "Google Noto Sans CJK KR" or others?

![2015-10-05 12 48 00](https://cloud.githubuserconte

[2015-10-05 20:33] #45 closed

[2015-10-06 02:02] devolition commented on #45
thanks. Very Very GOOD!

[2015-10-06 07:59] olsh commented on #45
You're welcome.

[2015-11-04 19:24] mrfabers opened #46 "Brazillian Translation filename"
Hi,

You can rename the "jquery.timeago.pt-br.js" file to "jquery.timeago.pt-BR.js" in the "timeago / locales"?

My Mac's file system (and my linux too) is case sensitive and always when you have an extension update I need to change manually.

Thank you

[2015-11-04 21:13] olsh commented on #46
Thank you.
Closed by 070ea47dc0d5a10f0bb32d857a994f1002f068d3

[2015-11-04 21:13] #46 closed

[2015-11-04 21:52] olsh commented on #46
Feel free to reopen the issue if you still have the problem.

[2015-11-23 21:14] SpikeDaPenguin opened #47 "Suggestion : Please give the option to make the buttons bigger!"
The Mark Read/Bookmark/More buttons are way too small for me.  Could we please get the option to make the buttons bigger?

[2016-01-01 17:55] efe opened #48 "Read Browsing History"
Hello,

Why this extension want to permisson reading browsing history?

[2016-01-01 18:48] olsh commented on #48
Hello,
This extensions uses [the API](https://developer.chrome.com/extensions/tabs) to open new tabs.
With this API you *can* read browser history, but the extension *doesn't do* that.

[2016-01-05 11:14] #48 closed

[2016-03-04 09:52] LastInLine opened #49 "Notification badge is blue when Material Design top chrome is enabled"
Chrome stable, version 49.0.2623.75 m, if the flag "Material design in the browser's top chrome" (#top-chrome-md) is enabled on Windows, the notification badge is blue rather than red.  The flag shrinks the icons significantly so it's difficult to read the unread count (I mention this because it may make sense to address both with the same fix).

[2016-03-04 10:53] olsh commented on #49
@LastInLine Thank you for the report.
It seems like it's a Chrome problem, because other extensions have the same problem.
http://www.evernote.com/shard/s9/sh/ae35774f-9992-4d31-8db6-8cc2710a0811/26ce1df24cb2571eca72688dd02b34cf
Chrome doesn't provide much API to customize the icons, so I'm afraid we can't fix it now.

[2016-03-04 11:52] LastInLine commented on #49
I'm not at work at the moment so I don't have access to a Windows computer, but I do know, and that screenshot shows, that for some reason some extensions get other colors.  I *think* I've seen one generate a red badge.

Perhaps a bug report needs to be filed with the Chromium project to address this?  I don't know enough about this to make a detailed report myself.  A quick search of the bugtrack

[2016-03-04 13:27] olsh commented on #49
@LastInLine yes, you're right, Chrome [provides an API](https://developer.chrome.com/extensions/browserAction#method-setBadgeBackgroundColor) for setting the badge color. We get the blue color because we do not set the badge background explicitly.
So, yes, we can fix the color problem.

I just thought that the more annoying problem is the icons size and the font.

[2016-03-04 13:31] LastInLine commented on #49
Hooray for the color!

Yeah, you're right the size is annoying and there is [a bug filed](https://bugs.chromium.org/p/chromium/issues/detail?id=546206&q=material&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Component%20Status%20Owner%20Summary%20OS%20Modified&start=100) but you're right, there is nothing to do on that but wait.

[2016-03-04 18:58] olsh commented on #49
Fixed in be9f7193ec228426ab9727e3d7722ccc49016d2c

[2016-03-04 18:58] #49 closed

[2016-05-08 17:54] griest024 opened #50 "Suggestion: Use user-specified feed name"
Instead of using the default feed name, you should use the user-specified feed name. By default name, I mean the name that appears between the article title in the popup and the blog name. It is the name that feedly initially names the feed when I first add it, but it would be nice if you could modify that to use the name that I set, since some default names aren't very readable. You should change

[2016-06-22 07:03] mrigeshcmu opened #52 "Feature request: Open in incognito tab/window"

[2016-06-22 07:07] mrigeshcmu opened #53 "Feature request: Sort and filter by [date/category/feed] in popup"

[2016-09-06 16:26] ProgressRebeccaMurison opened #55 "Number of Feedly Articles Incorrect and Won't Refresh/Update"
Hello,

Feedly Notifier is showing I have 39 unread which is not the case, the number is close to 20, is there a quick fix for this?

Thanks.

[2016-09-06 16:34] olsh commented on #55
Hello, thanks for the feedback.

* Have you tried to re login?
* Please make sure that you are using the same account on the site and extension.

[2016-09-06 16:39] ProgressRebeccaMurison commented on #55
Hello,

I have tried to logging out and logging back in, I have tried removing and reinstalling the extension, I have tried restarting my computer. I am sure I'm using the same account.

Quick note... I logged into Feedly itself in the browser and it looks like the problem is certain articles aren't populating the notifier. So the number is correct, but many of the articles aren't showing up.

[2016-09-06 16:48] olsh commented on #55
Well, I don't use the site, but I suppose it can be caused by paging or some "clever" sorting.
I didn't make changes in the counter-related code quite a long time ago.

[2016-09-06 16:59] ProgressRebeccaMurison commented on #55
Okay, I'll mess around and see if I can figured out the problem. Thank you

[2016-09-10 11:58] olsh commented on #55
I'm closing this.
Feel free to reopen the issue if you still have problems with the counter.

[2016-09-10 11:58] #55 closed

[2016-09-12 06:22] reicheltmediadesign opened #56 "Feature request: hide notifications"
Hello,

currently I can choose to display notifications (or not), and how long they're visible. It would be nice if I can hold the mouse over the notification and the timeout stops.

For example, a new notification appears with a timeout of 10 seconds. After 10 seconds visibility, the notification will fade out. When I place the cursor above the notification, the countdown should stop until I remo

[2016-09-18 07:47] Deuchnord opened #57 "Feature request: a button to add the feed of the currently visited website"
When the website the user's visiting offers an RSS/Atom feed, it would be great to give an option to add it in Feedly.

[2016-09-18 15:24] olsh commented on #57
@Deuchnord thanks for the suggestion!
The official extension allows to do that.
https://chrome.google.com/webstore/detail/feedly-mini/ndhinffkekpekljifjkkkkkhopnjodja?hl=en

[2016-09-18 16:22] Deuchnord commented on #57
Thanks for your answer, I hadn't see this extension existed. But looks like it doesn't work correctly: the bubble that should appear at the bottom right corner doesn't show up, so that I can't do anything. :(

[2016-09-18 19:09] olsh commented on #57
Well, I don't use these kind of extensions, but you would try these ones.
https://chrome.google.com/webstore/detail/feedly-subscribe-button/gbbnddjfcllebfcnihfgmdplgaiejepc
https://chrome.google.com/webstore/detail/follow-feed-feedly/ccmkbgknapokcjabmiaimipiepgpgbco

[2016-10-08 10:18] #57 closed

[2016-10-18 08:14] olsh commented on #56
I suppose that it's impossible to implement at this moment. Because web notifications do not support `onHover` event or something like that.
https://developer.mozilla.org/en-US/docs/Web/API/Notifications_API/Using_the_Notifications_API#Notification_events

[2016-11-17 08:42] eldonzo opened #58 "Login lost after locking profile"
I use multiple Chrome profiles, one of them is a supervised profile, and when I leave I always close mine with the "Exit and childlock" option.

When I open it the next time the extension always asks me to log in again.

[2016-11-17 11:13] tveimo opened #59 "Timing issues causes popup to shrink"
When using "Open feeds in background tab", the popup opens, but immediately shrinks to a very small size, prob about 100x100 pixels. If I click the button several times, I am sometimes successfull in opening the popup to its proper size.

[2016-11-17 11:21] olsh commented on #59
@tveimo thanks for the reporting.

Which browser are you using?
Could you please check if it happens when all other extensions are disabled?
Have you tried to reinstall the extension?

[2016-11-17 11:22] tveimo commented on #59
I tried reinstalling, no change. Turning off the background tab setting fixes the problem (so far). Am running Chrome version 54.0.2840.71 (64-bit).

Haven't tried disabling all other extension yet. Am unsure what the background tab setting helps with? speed?

[2016-11-17 11:24] olsh opened #60 "The notification pop-up should allow the item to be marked as read"
Comment from store:

Probably we need to use Chrome notifications API.
https://developer.chrome.com/apps/notifications

#21 related.

[2016-11-17 11:31] olsh commented on #59
@tveimo it determines behavior when you click on an article link in the popup.
When the option is enabled an article will be opened in a background tab and the popup will remain opened.
When the option is disabled and you click on any article link, the article will be opened in an active (focused) tab and the popup will be closed.

Probably we need to rename the option. Do you have some suggestion

[2016-11-17 11:48] tveimo commented on #59
"Open links to feed items in background tab" maybe?

[2016-11-17 12:08] tveimo commented on #59
Just tried restarting the browser with only the feedly extension enabled, and it has the same behaviour. Now I have also managed to get the issue also with the background tab option disabled, so I guess it's not related to that. I've put up a screenshot of what happens here; https://dl.dropboxusercontent.com/u/6299520/Screen%20Shot%202016-11-17%20at%209.42.39%20pm.png

[2016-11-17 12:13] olsh commented on #59
Could you please right click on extension icon and hit "Inspect popup"?
Are there any errors in "Console" tab?

[2016-11-17 12:38] tveimo commented on #59
No errors that I can see, but am not sure if errors will show up there unless the console is already open? I'm seeing this problem much less often now after I starting fiddling with it though.

[2016-11-17 12:43] olsh commented on #59
When there are errors in popup scripts, you'll see them.

Could you also go to chrome://extensions/ , enable developer mode and press "background page" near the  extension? It'll open the same console window but for background scripts.

[2016-11-25 08:49] tveimo commented on #59
I haven't been able to find any more indications on what is causing this, but I've seen the same behaviour sometimes with the gmail notifier popup, so I'm starting to suspect this might be a chrome issue, possibly related to timing. I'm in Australia, so maybe I'm seeing higher latency to some of the services used by these plugins, so am curious if inserting some debug timeouts in parts of the code

[2016-12-02 09:54] tveimo commented on #59
It appears that the popup shrinks to the size it has while it is displaying the throbber. Would it be possible to test out just having the throbber shown in the center of the window at its normal size, without resize? If this is the cause, then maybe the resize happens too late.

[2016-12-02 14:15] tveimo commented on #59
I tried reverting back to version 2.7.2, to avoid the async popup loading, and it seems to have fixed my problems.

[2016-12-02 14:47] olsh commented on #59
@tveimo thanks for the investigation. I'll try to reproduce the problem.

[2016-12-05 08:16] dragonito commented on #59
Got the same problem but only on MacOs. Next time i´ll try to analyse it. Perhaps there is a way to reproduce.

[2016-12-13 10:58] DavidBabel commented on #59
same problem on chrome 55 macOS sierra, here is the aspect :
![Uploading Capture d’écran 2016-12-13 à 11.56.47.png…]()

[2016-12-13 11:09] DavidBabel opened #61 "Feature request: detect and subscribe to RSS feed in current page"
Hi,

The only missing feature i found to this extension, is the ability to directly add RSS of the current page, to our feedly.
This feature exists in some extensions like "[RSS Feed Reader](https://chrome.google.com/webstore/detail/rss-feed-reader/pnjaodmkngahhkoihejjehlcdlnohgmp)" :
<img width="62" alt="capture d ecran 2016-12-13 a 12 06 37" src="https://cloud.githubusercontent.com/assets/559937

[2016-12-13 11:27] olsh commented on #59
@dragonito @DavidBabel
Thanks for the help.

@tveimo are you using mac too?

[2016-12-13 11:34] tveimo commented on #59
Yes also on mac. I see a similar problem with the gmail notifier sometimes.

[2016-12-13 12:55] olsh commented on #59
@dragonito
I've noticed that you forked the repo. I've written "build" steps just in case.
https://github.com/olsh/Feedly-Notifier/blob/master/README.md#build

Sadly, I don't have a mac right now, so, any help is appreciated. :)

[2016-12-13 13:24] DavidBabel commented on #59
Can take a look. But i never tried work on chrome extension, you will have to strongly review my code.

[2016-12-13 13:39] DavidBabel commented on #59
What is supposed to be the "sandbox" command in the readme ?

[2016-12-13 13:52] olsh commented on #59
@DavidBabel thanks.
If `sandbox` is specified, the will be compiled a `sandbox` version of the extension which uses sandbox feedly site http://sandbox.feedly.com/i/welcome

[2016-12-13 13:56] DavidBabel commented on #59
And if not ? Cause i get this error : {"errorCode":400, "errorId":"ap4-sv2.2016121305.3303387", "errorMessage":"unknown client id"}

When i just try the grunt output as extension

[2016-12-13 14:36] olsh commented on #59
Yeah, sorry, will fix it. Thanks.

[2016-12-13 15:43] DavidBabel commented on #59
#62 do the trick, but it's a workaround.

The exact scenario i noticed it the following :
1 - popup expand normaly
2 - just after expand : another event is received and redefine width to dummy values

The "2" does not append everytime, but often anyway. It's possible to click multiple times on the icon to get back a "correct" behaviour.

The "setTimeout" i added override the "2" behaviour just aft

[2016-12-13 15:44] tveimo commented on #59
The dummy values you mention, aren't they the size of the window shown when the throbber is shown, before the window is populated with feed entries?

[2016-12-13 15:49] DavidBabel commented on #59
The size is this one : https://github.com/olsh/Feedly-Notifier/issues/59#issuecomment-266708934

[2016-12-13 16:41] olsh commented on #59
@DavidBabel
I did small refactoring of you PR. Could you please test if everything works as expected?

[2016-12-13 16:52] DavidBabel commented on #59
The issue come back sorry 😭

[2016-12-13 17:02] olsh commented on #59
Reverted it back, please do the final check and I push it to store.
Thanks.

[2016-12-13 17:15] DavidBabel commented on #59
I tested it this two ways :
- spam click on button
- high CPU charge

Both rarelly occur the bug again. Consider to increase the 50ms timeout to 300ms. Works for me.

I expect a strange other behavious i did not notice before.
After the grows of the popup smoothly, it instant change from "width" to "expandedWidth" size.

[2016-12-14 07:31] olsh commented on #59
@DavidBabel
I've pushed another commit, could you please check again?
I tried another approach to address the issue.

[2016-12-14 11:06] DavidBabel commented on #59
Hey, @olsh , the issue came back. Sorry again

[2016-12-14 11:12] olsh commented on #59
@DavidBabel
Thanks, so, we need to set it to 50ms or 300ms?

[2016-12-14 11:15] DavidBabel commented on #59
To exclude bug when spam click the button and the behaviour when cpu charge is high, it's better. But still a workaround.

[2016-12-14 15:42] olsh commented on #59
@DavidBabel
Sorry, I did a mistake in my commit, could you please again? :)
If it falls again, I'll revert to your commit and increase the interval for mac platform.

No, everything is OK, without you I wouldn't solve the issue at all.
Thank you for your help! 👍

[2016-12-14 16:30] DavidBabel commented on #59
Thanks ^^.

On this new version, it works well. The only behaviour which still trigger the problem is a "rapid 3 clicks" on the icon. But i have to admit, we don't do that on current use.
The high CPU test does not trigger the problem anymore.

I think you got a very acceptable solution now, since it worked as expected in a very large number of case during common use. Well done.

[2016-12-14 19:16] olsh commented on #59
@tveimo @dragonito
I've just published the fixed version(2.12.1) to the store it'll available soon. Could you test it and confirm that everything works?

[2016-12-14 19:20] olsh commented on #61
Well, I'm not sure if we want to implement this feature, because there are other extensions on the store with this functionality.
For instance:
https://chrome.google.com/webstore/detail/feedly-mini/ndhinffkekpekljifjkkkkkhopnjodja?hl=en
https://chrome.google.com/webstore/detail/feedly-subscribe-button/gbbnddjfcllebfcnihfgmdplgaiejepc?hl=en

[2016-12-15 07:13] Kilhog commented on #59
Hi,
The bug is still here for me in 2.12.1 on Chrome 54 MacOs Sierra. 😉
https://youtu.be/5qCZP72Niq4

[2016-12-15 10:01] DavidBabel commented on #59
same bug for me with 2.12.1. this is very strange

[2016-12-15 10:03] DavidBabel commented on #61
Actually the best is https://chrome.google.com/webstore/detail/rss-subscription-extensio/nlbjncdgjeocebhnmkbbbdekmmmcbfjd

But it's an extra icon 😄

[2016-12-18 11:52] sschaef opened #63 "Compatibility with multi-process Firefox"
This plugin is not yet fully compatible with multi-process Firefox.

https://www.arewee10syet.com/ marks it as `compatible-webextension` but inside of Firefox is is marked as not compatible:
![ff](https://cloud.githubusercontent.com/assets/488530/21293318/cc7bfb0c-c520-11e6-91e2-48ce2c99957b.png)

[2016-12-30 02:24] tveimo commented on #59
Would it be possible to rerelease the version with async popup loading disabled, until this issue is resolved?

[2016-12-30 07:46] olsh commented on #59
I've disabled async loading for Mac users in 2.12.1. And it didn't help.
https://github.com/olsh/Feedly-Notifier/blob/master/src/scripts/popup.js#L187

[2016-12-30 09:43] DavidBabel commented on #59
Hey ! My patch was ugly but actually corrected the problem. I admit that's a workaround, but a workaround which correct the issue.

[2016-12-30 15:58] olsh commented on #59
Yes, your fix works, but I don't like the idea with big timeout (300ms), in this way the popup has a lag on windows (and probably on linux too).
I could push a version with 50ms, but you said that the bug happens sometimes. So, we need to find a 100% fix without side effects.

@DavidBabel could you please check that this branch is executed on Mac?
https://github.com/olsh/Feedly-Notifier/blob/maste

[2016-12-30 16:11] DavidBabel commented on #59
Yeah don't worry, we understand fully, it's already a great job to consider your issues. I will make your tests tomorrow and will keep you in touch for the results.

[2016-12-30 16:17] DavidBabel commented on #59
Actually the timeout is human perceptible only when bigger than 250ms. But anyway i understand your concern. But in our case, it's not a big deal, and i will tell you why.

The point is :
- Your popup is growing when the button is clicked.
- It takes between 700ms to 1s to be fully grown.
- the "bug" occurs during this grow.
So the patch which resolve the bug is applied during the grows of the pop

[2017-01-02 07:42] Daktyl198 commented on #63
This should happen in the next release, if Olsh finishes turning it into a WebExtension (which, by definition, are e10s compatible).

Don't know when that will be, though.

[2017-01-02 15:47] olsh commented on #63
I've alredy converted it into a WebExtension. But it there is a bug with the panel, that's why I don't publish it to store.
I hope the bug will be fixed in FF 51. If you want to test it, there are instuctions how to build the extension.
https://github.com/olsh/Feedly-Notifier/blob/master/README.md
You have to specify `--browser firefox`.

[2017-01-03 13:33] DavidBabel commented on #59
did not find the time yet. soon :)

[2017-01-04 22:39] rojepp opened #64 "Layout glitch in Chrome"
Very often when I click the notifier icon in Chrome, it will render in the proper size, then immediately shrink to a tiny box, as can be seen in the gif below.

![feedly](https://cloud.githubusercontent.com/assets/445888/21661919/00888834-d2d7-11e6-8b3f-46a7aaff105d.gif)

[2017-01-04 23:34] olsh commented on #64
Thank you for the report.
I suppose it's a duplicate of https://github.com/olsh/Feedly-Notifier/issues/59

[2017-01-05 10:18] rojepp commented on #64
Ah sorry!

[2017-01-05 10:18] #64 closed

[2017-01-09 01:21] Keith94 commented on #63
Hi @olsh
I tested 2.12.1 in Firefox, but the options page has missing text for me, is it a known issue?

![firefox_2017-01-08_17-17-32](https://cloud.githubusercontent.com/assets/5490615/21755300/9a4535b6-d5c6-11e6-9eba-483beb1e6c06.png)

[2017-01-09 07:53] olsh commented on #63
Hi @Keith94
No, this is not a known issue.

Did you build it with this command?
`grunt sandbox --clientId=sandbox --clientSecret=R26NGS2Q9NAPSEJHCXM3 --browser firefox`

Please note that you have to specify the `build` folder when loading the extension locally.

[2017-01-09 08:31] Keith94 commented on #63
Oh sorry the trouble, I was not able to use `bower install` in the Git Shell, it seems I had to use `npm install -g bower` beforehand. Now it works.

Is there an easy way to package the files into an XPI for installing?

[2017-01-09 09:05] olsh commented on #63
Not sure, but I suppose that there is no such way, because a WebExtension is just an archive.
https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Publishing_your_WebExtension

[2017-01-11 07:01] Daktyl198 commented on #63
AFAIK, all you have to do is rename the .zip to .xpi and as long as you're running dev edition or nightly you should be able to install the extension.

[2017-01-12 09:10] tveimo commented on #59
Since this seems to happen to the gmail notifier as well, it looks like its a chrome bug; https://bugs.chromium.org/p/chromium/issues/detail?id=307912

[2017-01-12 12:00] olsh commented on #59
@tveimo thanks for the info! 👍
Well, we need to add these timeouts. But someone should test it.

[2017-01-25 21:38] Keith94 opened #66 "Counter doesn't update immediately"
In Firefox, after I mark all items as read directly on the feedly.com website, the Feedly Notifier counter doesn't seem to update/reset by itself; it just shows the old value for a long period of time.

[2017-01-25 22:27] olsh commented on #66
@Keith94
Yes, this is a known issue, this feature was implemented only in the WebExtensions version.
Which I hope will be published soon.
Related issue https://github.com/olsh/Feedly-Notifier-Firefox/issues/136

[2017-01-26 08:17] Keith94 commented on #66
I see, thanks for confirming.
For a workaround I simply use the option "Reset counter when button clicked".

[2017-02-02 15:45] Keith94 commented on #66
2.12.2 is mentioned in the Firefox changelog, but not on AMO yet. Is something blocking it?

[2017-02-02 17:48] olsh commented on #66
@Keith94
Yes, AMO reviewers. :) I hope it'll be available soon.

[2017-02-06 19:04] morawcik opened #67 "Stop working in Chrome"
Hi
Today Feedly Notifier stop working in Chrome. Its show count and news but don't mark it as read. Reinstall not help.

[2017-02-06 19:25] olsh commented on #67
Hi
It can be reproduced on any feeds or only on specific ones?

[2017-02-06 19:26] morawcik commented on #67
Its wont work with all my feeds (10 pages + 1 disqus channel)

[2017-02-06 19:31] olsh commented on #67
Could you please check background page errors on the page chrome://extensions/?

[2017-02-06 19:34] morawcik commented on #67
"https://cloud.feedly.com/v3/markers?av=c2.12.2 Failed to load resource: the server responded with a status of 405 ()"

[2017-02-06 20:04] morawcik commented on #67
It seems that works again

[2017-02-06 20:07] olsh commented on #67
Hmm, strange. Probably some issue on Feedly side.

https://developer.feedly.com/v3/markers/#mark-one-or-multiple-articles-as-read
According to the docs, it should be a POST request and the extension use POST to mark feeds as read.

[2017-02-07 15:42] sschaef commented on #63
FF 51 has been released. Does the bug you were talking about still exist?

[2017-02-07 15:52] olsh commented on #63
@sschaef
Yes, the bug has been fixed in FF 51.
I've published the WebExtensions version in AMO, it'll be available after AMO review.

[2017-02-12 12:50] olsh commented on #67
@morawcik
Can we close the issue out?

[2017-02-12 12:51] morawcik commented on #67
Oh, yes. Sorry.

[2017-02-12 12:51] #67 closed

[2017-02-24 10:52] sschaef commented on #63
The most actual version is still 2.11.2: https://addons.mozilla.org/de/firefox/addon/feedly-notifier/ Did you publish somewhere else or are the newer versions still caught in review?

[2017-02-24 12:39] olsh commented on #63
The addon didn't pass the review yesterday:

I'll be on vacation for 2 weeks without internet and PC, so sorry guys. I'll fix it only in the mid of March.

[2017-03-10 14:12] tveimo commented on #59
How do I run the extension with real data from the feedly server? I've generated a developer id / clientSecret but I am unable to actually get any feed entries shown in the popup, I only get the login button.

[2017-03-10 14:17] olsh commented on #59
You can't, you should use this server with the test credentials.
https://sandbox.feedly.com/

[2017-03-10 14:30] tveimo commented on #59
By editing feedly.api.js? I tried running grunt with clientId=sandbox, the clientSecret I generated, but when running the extension, it seems to be able to login, then tries to load http://localhost/?code=Ayka.... If I manually edit the url to the sandbox one, or just feedly.com, I can get into feedly, but I cannot get any feed entries in the popup. It still shows the login button.

[2017-03-11 12:41] olsh commented on #59
You don't need to edit anything manually.
Run the following command:
`grunt sandbox --clientId=sandbox --clientSecret=OE12J47X2W5PEF7CKPGZ --browser chrome`

Load the extension from the build directory and login. After that go to https://sandbox.feedly.com/ and add some feeds.

[2017-03-12 03:46] tveimo commented on #59
Ok, I'm still only getting a login button in the extension though, so am unable to test.

[2017-03-14 13:21] tveimo commented on #59
Sorry for the noise. I didn't realise the client secret expires after a while and that the one in the REAME.md file is too old, am now using OE12J47X2W5PEF7CKPGZ, which works.

Changing the timeout of the executeAsync() method in popup.js from 0 to 150 seems to fix the shrinking popup issues on my macbook pro;

function executeAsync(func) {
    setTimeout(function () {
        func();
    }, 150);

[2017-03-14 13:56] olsh commented on #59
@tveimo
Thanks for the info, could you please get the latest version and test it again?
I've added the timeout for mac here
https://github.com/olsh/Feedly-Notifier/blob/master/src/scripts/popup.js#L194-L201

[2017-03-22 06:14] nagato7 commented on #63
Any update on e10s support?

[2017-03-22 07:33] olsh commented on #63
The review is too slow.

![screenshot_032217_102130_am](https://cloud.githubusercontent.com/assets/3613592/24186439/52311414-0ee9-11e7-8a67-33bdcd2bfaa9.jpg)

[2017-03-27 10:22] olsh commented on #59
I've just pushed a new version with the fix live. Please try it out.

[2017-03-30 11:03] DavidBabel commented on #59
seems to work for me

[2017-04-01 02:33] tveimo commented on #59
Works for me too. Suggest closing as resolved for now.

[2017-04-01 07:13] olsh commented on #59
Thanks guys!
Feel free to reopen it.

[2017-04-01 07:13] #59 closed

[2017-04-05 17:20] olsh commented on #66
@Keith94
The addon was just approved and it's available on AMO.
Please let me know if everything works as expected.

[2017-04-05 17:21] olsh commented on #63
The new version is on AMO.
Please let me know if everything OK with e10s.

[2017-04-05 19:00] Keith94 commented on #66
Issue is fixed. :) Thanks

[2017-04-05 19:00] #66 closed

[2017-04-05 21:54] olsh commented on #66
Emm, probably it was only in FF version. Please open a new issue if there is no such option, I'll implement it.

[2017-04-05 23:32] Keith94 opened #69 "Add 'gray color if no unread' to Firefox version"
![image](https://cloud.githubusercontent.com/assets/5490615/24731223/71f29a90-1a1d-11e7-9722-ef5375e1ff35.png)

[2017-04-06 05:02] dobasy opened #70 "Suggestion: Use default font (Firefox)"
Default font: MS P Gothic
Actual used font: MS P Mincho (a kind of serif) for double-byte characters and another sans font for single-byte characters

![font](https://cloud.githubusercontent.com/assets/2500068/24738269/8cf16ee0-1acf-11e7-961e-f90616666e08.png)

[2017-04-06 08:50] lucidfox opened #71 "[2.13.3, Firefox] "Open Feedly site on icon click" option now broken"
The "Open Feedly site on icon click (don't show popup)" option has stopped working. Setting it has no effect, and on reopening the options page, the checkbox is reset to unset state.

[2017-04-06 08:56] olsh commented on #71
@lucidfox please specify browser.

[2017-04-06 10:39] sschaef commented on #63
It works really great. Thanks for all of the work Oleg!

[2017-04-06 10:39] #63 closed

[2017-04-06 10:53] lucidfox commented on #71
Firefox 52.0.2, Linux 64-bit.

[2017-04-06 11:04] olsh commented on #71
Hmm, it works on windows, probably it's a Linux specific bug.
I don't have Linux installed now so I can't test it. Did you see any errors in FF console (ctrl + shift + J)?

[2017-04-06 11:25] lucidfox commented on #71
Nope, no errors in the console. Clicking and unclicking the checkbox just doesn't seem to do anything besides enabling and disabling the rest of the Popup option group.

[2017-04-06 11:27] lucidfox commented on #71
Never mind, I'm stupid. I didn't realize there was a Save button.
It seems something wiped out my options (perhaps the extension update?) and I forgot one needed to click Save to apply settings.
Closing the issue.

[2017-04-06 11:27] #71 closed

[2017-04-06 11:34] olsh commented on #71
@lucidfox
Yeah, there was a big update for FF version. We migrated it to WebExtensions so yes, your settings were set to defaults. We probably change the options page in the next releases to avoid this kind of confusion.

[2017-04-06 13:55] Alain1978 opened #72 "Notifications on desktop doesn't work"
Since the update of 2.13.3 on Firefox, the notifications on desktop doesn't work. I cheked the rule "make a noise ...", I hear the sound but I don't see any popup ! I'm on Firefox 52.0.2 64 bits windows 10. Thank you for your addon who is very useful especially now in wb version, Alain.

[2017-04-06 14:04] olsh commented on #72
Hi @Alain1978 ,
Thanks for the feedback.
Could you please set option "Max notifications count at once" to "1" and test it again?

[2017-04-06 15:32] Alain1978 commented on #72
Hello, I tried your option but no changes, the notification doesn't appeared but the sound  with yes. I tryed something else,  I desactivated ublock but again with the same result.

[2017-04-06 16:34] olsh commented on #72
@Alain1978
Thanks. Probably there are some differences between Chrome and FF API. Will fix it.

[2017-04-06 19:47] Alain1978 commented on #72
Maybe, thx and sorry for my bad english.

[2017-04-06 21:52] olsh commented on #60
Depends on #72

[2017-04-07 01:16] #72 closed

[2017-04-08 01:05] ThiefMaster opened #73 "Popup shows content only on hover"
Happens in Firefox (52.0.2 on Win7) since today.

![feedlywtf](https://cloud.githubusercontent.com/assets/179599/24824250/333f08c8-1c08-11e7-8cde-cee8514e4632.png)

[2017-04-08 15:50] olsh commented on #73
Hmm, looks strange.
Can't reproduce it, have you tried to use a clean FF profile?

[2017-04-08 15:58] ThiefMaster commented on #73
Doesn't happen on another PC so I guess it's related to something in the profile.
Starting with a new profile if obviously not a good solution except to test it.

Any pointers how to track down what's causing it besides selectively disabling other extensions? My first thought was a userContent/userChrome css but I don't have either (except some userContent.css entry for an unrelated site)

[2017-04-08 16:05] olsh commented on #73
I'd suggest to inspect the panel, but Firefox dev tools can't do that.
Maybe you can find something suspicion in the file?
https://github.com/olsh/Feedly-Notifier/blob/master/src/styles/style.css

[2017-04-08 16:25] ThiefMaster commented on #73
apparently firefox [can debug webextensions now](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Debugging) :)

It's extremely weird: If I set `background-color: #fff` on `.item` it works fine. Somehow the text etc in there is invisible if the element has no background color. This is also why it showed up fine on hover - `.item:hover` already has a background color.

[2017-04-08 16:30] olsh commented on #73
Whoa, didn't know that it allows to inspect the panel.
Yeah, that's really strange, will add this workaround for now.
Let me know if you find something else.

Thank, you.

[2017-04-08 16:35] olsh commented on #73
Fix in https://github.com/olsh/Feedly-Notifier/commit/f0ef0302520ab2619e77950dab5e4325db0a793d

[2017-04-08 16:35] #73 closed

[2017-04-08 16:48] #70 closed

[2017-04-09 17:28] ThiefMaster opened #75 "Empty .content with "Expand all feeds when popup is opened" enabled"
If I close and open any of the items again it's fine (actually, while closing the content already shows up for a moment while it's closing, but when inspecting it before that the element is empty) - but of course it kind of defeats the purpose of not having to click every item to view it ;)

[2017-04-10 21:06] gri1n opened #76 "Being flooded with notifications since update a couple of days ago"
Since the update a couple of days ago Feedly Notifier is ignoring the "Max notifications count at once" setting and displaying 3 at once (I have it set to 1). Also when you close a notification another one pops up immediately in it's place meaning you end up clicking 10 - 20 notifications to make them go away. This seems to only happen after Feedly has been ignored for a long time and there's a la

[2017-04-10 21:13] olsh commented on #76
Could you please specify your browser and OS?

[2017-04-11 10:32] Erythros opened #77 "Mark all as read should mark ALL as read"
First time I opened the extension I had 9000 unread stories. Clicking "mark all as read" would mark only the first 20 items (first page) as read leaving me with 8980 unread stories.

With the current behavior, I would have to click 450 times "mark all as read" so I can get to the present day.

Expected behavior: "mark all as read" should mark ALL items as read.

[2017-04-11 11:19] olsh commented on #77
Thanks for the feedback.
Well, you are right, but it's too late to change the behavior, because many users don't expect it.
Moreover, the purpose of the extension is notify, not to copy the entire site functionality.

Please let me know what do you think.

[2017-04-11 11:41] Keith94 commented on #69
I have noticed the icon sometimes doesn't change to gray, or it quickly flickers to gray and back to green after marking items as read. Can you check if there's some bugs?

[2017-04-11 11:51] olsh commented on #69
I'll take a look at it. Please let me know if you find steps to reproduce.

[2017-04-11 12:08] olsh commented on #53
Feedly API doesn't provide the functionality, so we can't implement it.

[2017-04-11 12:08] #53 closed

[2017-04-11 12:10] olsh commented on #56
We don't have API to implement it.

[2017-04-11 12:10] #56 closed

[2017-04-15 20:15] gri1n commented on #76
Sorry for delayed reply, didn't get any notification.

Chrome 55.0.2883.75 (64-bit)
Ubuntu 17.04

[2017-04-19 09:19] bryznasty commented on #76
Same here, way more notifications and no preview image.
Chromium
Version 57.0.2987.133 (64-bit)

[2017-04-19 14:18] sschuberth commented on #61
Actually, at least in Firefox I thought this feature was already present. Firefox comes with a built-in "Subscribe to this page" button (![2017-04-19_161605](https://cloud.githubusercontent.com/assets/349154/25184741/993e04f0-251b-11e7-8edb-a6fe09299238.png)) which forwards to a page to select the feed application:

![2017-04-19_161537](https://cloud.githubusercontent.com/assets/349154/25184772/af

[2017-04-19 14:57] olsh commented on #61
Yes, the feature was in the old FF version.
https://github.com/olsh/Feedly-Notifier-Firefox

But now we are using WebExtensions, so we need to reimplement it.
PRs are welcome.

[2017-04-20 16:18] olsh commented on #77
Feel free to reopen the issue.

[2017-04-20 16:18] #77 closed

[2017-04-22 18:37] #60 closed

[2017-04-26 11:14] itcareerwork opened #80 "Во всплывающем окне не показывает тело сообщения"
Заранее прошу прощения, что не на английском

После обновления на новую версию перестал показывать тело новости под заголовком.
В настройках само собой  выставлено "Показывать полное содержание статьи при раскрытии новости (если возможно)" и "Раскрывать все новости при открытии всплывающего окна".
Прикрепляю скрин.  Происходит это так:
1) При открытии окна новость не показывается, при этом маркер

[2017-04-26 11:19] olsh commented on #80
Добрый день, спасибо что написали. 👍
В курсе этой проблемы, надеюсь что скоро исправлю.

https://github.com/olsh/Feedly-Notifier/issues/75

[2017-04-26 11:23] itcareerwork commented on #80
Вам спасибо за такую полезность :)

[2017-04-26 11:23] #80 closed

[2017-04-26 18:03] #75 closed

[2017-04-26 20:20] #69 closed

[2017-04-26 20:32] olsh commented on #76
It seems like a Linux only bug.
Have you tried to set the option to 3 for example?

![screenshot_042617_113155_pm](https://cloud.githubusercontent.com/assets/3613592/25455444/8a246b04-2ad8-11e7-9387-52ee6a37baa9.jpg)

[2017-04-27 06:54] WORMSS opened #81 "Chrome Optional Permissions for notifications"
You may want to check out https://developer.chrome.com/extensions/permissions

I almost didn't allow the Feedly chrome extension to update itself and would have been forced to remove because I didn't want to be spammed with lots of notifications and chrome doesn't allow me to run an old version of an extension. It wasn't until I seen this issue tracker I found that it was optional.. But I thought,

[2017-04-27 07:35] dnagy commented on #76
I have this issue on Windows 10 + Chrome too. It happens when I lock my office computer and go home, the next day when I log in, I receive all the notifications since I locked the computer at once, even if meanwhile I dismissed them on my phone or home computer.
Maybe it's a separate issue. Let me know if you need more information

[2017-04-27 07:41] inequation commented on #81
A concern about the permission for reading & writing on every website brought me to this issue. Why is it even required?

[2017-04-27 08:04] Palatosino commented on #81
Here #78  is the reason. I was looking for some explanation too.

I didn't know if Feedly Notifier is now malware or can be malware in some update.

[2017-04-27 10:56] #81 closed

[2017-04-27 10:58] anotherjames commented on #81
Thanks! :-)

[2017-04-27 11:01] olsh commented on #81
You're welcome :)

[2017-04-27 11:06] schliflo opened #82 "2.14.1 requires new permissions"
Chrome tells me that  2.14.1 requires new permissions, including "Read and change all data on websites you visit" which seems a bit odd. Can you specify why that is the case and for what feature this change is needed?
![screen shot 2017-04-27 at 13 06 22](https://cloud.githubusercontent.com/assets/9881672/25480730/62f63fa4-2b4a-11e7-82bb-14a8c69f8c56.png)

[2017-04-27 11:09] olsh commented on #82
Thanks for the feedback.
It's fixed already, the new version will be on store in ~30 minutes.

More info:
https://github.com/olsh/Feedly-Notifier/issues/81
https://github.com/olsh/Feedly-Notifier/pull/78

[2017-04-27 11:30] olsh commented on #82
The fixed version was published.
Feel free to reopen the issue.

[2017-04-27 11:30] #82 closed

[2017-04-27 11:58] schliflo commented on #82
Thx for the info. Can confirm the permission is gone in 2.14.2  - although I had to remove the extension and re-install it in order to get rid of the chrome notification.

[2017-05-03 01:26] gri1n commented on #76
As I said in my original report I always have "Max notifications count at once" set to 1 and despite this I get 3 on the screen at once and then every time I close one another one opens in its place. This can go on for up to 20+ notifications.

I really only want a single notification to say that there is new news, I really don't care about each individual news item.

[2017-05-04 21:03] BArcher001 opened #83 "Unable to load since Chrome update"
Hi everyone,

Since the recent update of Chrome I've been unable to get Feedly Notifier to work - Chrome is giving an error of: NET::ERR_CERT_WEAK_SIGNATURE_ALGORITHM

Any idea how this can be resolved?

Thank you!

[2017-05-04 21:07] olsh commented on #83
Hi @BArcher001 ,
Which OS are you using?

[2017-05-04 21:19] BArcher001 commented on #83
Thanks for the quick reply. Using Windows 10.

Sent from my iPhone

[2017-05-04 23:16] olsh commented on #83
That's strange, Feedly API uses SHA256withRSA certificate.
https://www.sslshopper.com/ssl-checker.html#hostname=https://cloud.feedly.com/v3/streams/

And I'm on windows 10 and the latest Chrome too.

You can disable "Use HTTPS" in the extension options, but all requests to Feedly API will be unsecure.
Also, please check the forum
https://productforums.google.com/forum/#!topic/chrome/aZCjPYqdtHk;co

[2017-05-11 08:12] ThiefMaster opened #84 "Clicking a link inside a feed's content inside the popup opens blank/home page"
Happens both with left and middle click.

[2017-05-11 12:08] LukasThyWalls opened #85 ""Mark as read" icon moves the list always to the beginning"
**How to reproduce**:

- Open Feedly Notifier
- You need a lot of feed entries, at least a few to have the scrollbar
- Scroll down in the Feedly Notifier and select an entry what isn't any of the first ones.
- When you click a "Mark as read" icon in that entry, it does, and the Feedly Notifier screen goes up to the beginning, and you need to go down again to see what you are seeing before.

It's a

[2017-05-20 10:05] olsh commented on #83
Closing this out, feel free to reopen.

[2017-05-20 10:05] #83 closed

[2017-05-20 10:18] olsh commented on #84
@ThiefMaster ,
Please specify your browser. I can't reproduce it on Firefox 53 and Chrome 58 on Window 10.

[2017-05-20 10:19] ThiefMaster commented on #84
Firefox 53

[2017-05-20 10:23] ThiefMaster commented on #84
I just checked with the debugger and after `var url = link.data("link");`, `url` is still undefined. `link.data()` is an empty object.

[2017-05-20 10:28] ThiefMaster commented on #84
Found the problem. `data-link` is not set on links that are part of a feed's content. Running this in the console fixed it:

    $('.content a').filter(function() {
        return $(this).data('link') === undefined
    }).each(function() {
        $(this).data('link', $(this).attr('href'));
    })

As a proper fix I'd suggest this (untested):

[code]

[2017-05-20 10:31] olsh commented on #84
Hmm, strange, I've just tested it on the feed `https://www.yahoo.com/news/rss/topstories` and it works fine.
Could you please provide RSS feed for reproducing?

[2017-05-20 10:31] ThiefMaster commented on #84
http://blog.fefe.de/rss.xml?html

[2017-05-20 10:37] olsh commented on #84
Can't reproduce this:
https://www.screencast.com/t/aaEbfW5rLN

What OS are you using?

[2017-05-20 10:47] ThiefMaster commented on #84
Win7. It seems to happen only with "Expand all feeds when popup is opened" enabled.

[2017-05-20 10:47] olsh commented on #84
A similar code is executed on feed opening.
https://github.com/olsh/Feedly-Notifier/blob/ff1d21e721e02f0cbaaddfed42bc72cb0c6f0b4f/src/scripts/popup.js#L129-L134

Probably there are errors in the console?

Thanks, yes, there can be a bug.

[2017-05-20 10:47] olsh commented on #84
Got it, thanks.

[2017-05-21 08:35] Sagrer opened #86 "Open in the same tab option is broken since Firefox 53.0.3"
When the extension option to open news in the same tab (Открывать новости в одной вкладке in my translation) is enabled - feedly notofier works correctly only once for one news item. Then it stops to give any reaction for clicks on news and only firefox reboot can help. When this option is disabled - all works fine.

[2017-05-22 21:32] bryanhanna opened #87 "Feature Request: Thumbnails"
I would love if you were able to add thumbnails for the articles to both the notifications and the list that would be amazing!

Thanks

[2017-05-22 21:39] olsh commented on #87
@bryanhanna
Thanks for the suggestion.
We have plans to add thumbnails to the notifications. In the popup, you can expand an article to see a short preview, if the article has images, they'll be displayed.

[2017-05-24 21:27] Imold opened #88 "not getting notifications"
I'm not getting Desktop notification. I'm running Waterfox 53.0.1 (64-bit) on windows 10.

[2017-05-26 22:04] helloworld111gh opened #89 "Google Safe Browsing Breaks Feed List"
If one of the sites you have feeds on gets flagged by googles safe browsing, the feed list doesn't work anymore as the google safe browsing warning replaces the regular feed list.

http://puu.sh/w24NT/0d98ffb14a.png

[2017-05-29 13:12] akaSybe commented on #89
Could you please provide an example of such a site?

[2017-05-29 20:29] QXD-me opened #90 "Can't access feeds"
Hi

I'm having an issue where I can't access the feeds through the extension, but I can through the Feedly website. The extension shows a grey icon, and when I click it I just see the spinning wheel. I have tried uninstalling and reinstalling the extension with no luck. It started doing it yesterday (or maybe the day before), and I think it briefly started working again yesterday evening before go

[2017-05-30 20:40] helloworld111gh commented on #89
Can't really provide you one as site malware issues only occur for a day or
two, but you could try using the hosts file to redirect a feed to a known
flagged domain.

On May 29, 2017 6:12 AM, "Alexandr Shestakov" <notifications@github.com>
wrote:

[2017-05-31 21:46] #84 closed

[2017-05-31 21:51] olsh commented on #90
Hey @QXD-me ,

Have you tried to create a clean FF profile, just for test?

Close all tabs and disable all addons except FN. Reopen the browser, reproduce the bug and hit `ctrl + shift + J`, if there are any errors in the console, let me know.

[2017-05-31 22:29] olsh commented on #85
Hey @LukasThyWalls , thanks for the detailed description. 👍
There is a bug in Bugzilla
https://bugzilla.mozilla.org/show_bug.cgi?id=1324499

[2017-06-01 19:20] QXD-me commented on #90
Thanks for the help @olsh . Clean profile worked which led me to figure it out.

It seems that another extension, uMatrix, is interfering somehow. After disabling it I managed to log in and re-enabling umatrix seems to cause some issues. (In case anyone else has the same issue I have added the following line to the rules "* cloud.feedly.com xhr allow" which seems to sort the problem). I'm not sure

[2017-06-01 19:20] #90 closed

[2017-06-01 20:08] olsh commented on #90
@QXD-me thanks for the investigation! 🥇

[2017-06-03 17:07] #50 closed

[2017-06-03 17:20] #86 closed

[2017-06-03 17:44] olsh commented on #58
Hey @eldonzo ,

Sorry for the late response.
Just tested it with Chrome 58 on Windows 10 and I can't reproduce it.

Can you reproduce the issue?

[2017-06-03 18:19] eldonzo commented on #58
Hi @olsh ,

yes, I can reproduce it.
Is there some log I can send you to help finding the issue?

[2017-06-03 18:26] olsh commented on #58
Could you please enable developer mode on the page `chrome://extensions/` and check if there are errors in the background page?

[2017-06-03 18:56] #87 closed

[2017-06-03 23:08] olsh commented on #88
Hey @Imold ,

Thanks for letting me know, I've just published a new version (2.15.0) to AMO, it's under review now.
Please try it when it'll be available and let me know if the problem is fixed.

[2017-06-03 23:10] olsh commented on #47
I know that the response is very late, but anyway.
We are going to completely redesign the popup, WIP is here:
https://github.com/olsh/Feedly-Notifier/tree/redesign

[2017-06-03 23:27] olsh commented on #52
AFAIK, the only way to create an incognito window is the context menu.
In order to see the `Open in an incognito window` we should put the href element on article title links.

Sounds like an easy to implement task, but we can't do that because there is a bug with the middle click:
If you click on any link using the middle button, `preventDefault()` method doesn't work, and two tabs will be opened

[2017-06-04 09:11] eldonzo commented on #58
Nothing... I just see this when I try to open the popup (and it prompts me to login):

core.js:481 Unable to load counters.
core.js:555 Unable to update feeds.

[2017-06-04 09:30] olsh commented on #58
Hmm, it seems like an access token is empty.
Which OS are you using?

[2017-06-04 09:34] eldonzo commented on #58
Windows 10 64bit
It happens both at home and at my office pc, both on Windows 10 with the latest update.

[2017-06-04 09:45] olsh commented on #58
The same configuration. Well, I'll try to reproduce the error.

[2017-06-04 22:19] Imold commented on #88
It's working in the new version.

[2017-06-04 22:19] #88 closed

[2017-06-06 06:06] GAJansen opened #91 "Feature request: add option 'close popup after selecting Feedly website'"
When I have a lot of new feeds, I use the FN popup to briefly check these, but if I find something interesting, I choose to manage/read these on the Feedly website rather than using the FN-popup. Selecting 'Feedly website' opens the website, but leaves the popup open, so one additional click is needed to close the popup.
As I assume that (many) users that will go to the Feedly website want to use

[2017-06-06 07:52] olsh commented on #91
Hi @GAJansen,
I suppose you are using Firefox?
I think we don't need an option for this, this should be the default behavior.

[2017-06-06 08:35] GAJansen commented on #91
Hi @olsh,
I use several browsers on different OS's (Ubuntu 16.04, Lubuntu 17.04 , Win7, Win10 (32-bit, 64-bit)).
I agree that the default behaviour should be: close popup after selecting feedly website.
This indeed is the default already in Opera, Chromium, Chrome.
But it is currently not the default in Firefox, Vivaldi (this is remarkable, as I thought Vivaldi is a fork of Opera)

[2017-06-06 08:48] olsh commented on #91
Thanks for the investigation! 👍

Will make this as the default behavior for all browsers.

[2017-06-06 17:41] ramenchef opened #92 "Unread badge not showing up for the past few days"
Since 1 or 2 days ago, the feedly notifier icon is no longer showing a badge with the number of unread articles. I have attempted to log out and relog back into feedly to try and fix it.

[2017-06-06 17:45] olsh commented on #92
Hi @ramenchef , which browser are you using?

[2017-06-06 18:09] ramenchef commented on #92
Woops, I should probably include that. I am in Win10 Pro 64 bit. This is happening on Chrome 64bit both 58 and 59 stable.

[2017-06-06 18:40] olsh commented on #92
Could you please enable developer mode on the page `chrome://extensions` and check if there are errors in the background page?

[2017-06-06 18:44] cyberrufus commented on #92
Same issue with an "unable to load counter" error. Windows 10 x64 Chrome developmental build.

[2017-06-06 18:51] cyberrufus commented on #92
Another error I'm receiving:
`Error in response to storage.get: ReferenceError: parameters is not defined`

[2017-06-06 19:31] cyberrufus commented on #92
Stack trace:
scripts/core.js:422 (Object.callback)
scripts/core.js:416 (updateCounter)
scripts/core.js:151 (chrome.webRequest.onCompleted.addListener.urls)
(I've disabled that feature)

[2017-06-06 19:46] olsh commented on #92
@cyberrufus @ramenchef

Did you enable the option `Reset counter when extension button clicked`?
It seems I manage to reproduce the issue.

[2017-06-06 20:09] olsh commented on #91
Fixed in a4e9d2a4c2efe632e262c646018406a7de1fe6fc

[2017-06-06 20:09] #91 closed

[2017-06-06 20:30] cyberrufus commented on #92
Yes; most recent error with trace:
Error in response to storage.get: ReferenceError: parameters is not defined
Stack Trace:
scripts/core.js:422 (Object.callback)
scripts/core.js:416 (updateCounter)

[2017-06-06 20:32] olsh commented on #92
Ok, thanks for the info. 👍
I've just pushed a new version to store (2.15.1). I hope it'll be available shortly, please let me know if the issue still exists in the version.

[2017-06-06 20:39] cyberrufus commented on #92
Issue appears resolved in the new version (2.15.1). Thanks for the quick response!

[2017-06-06 20:42] olsh commented on #92
@cyberrufus thanks for the feedback! 👍

@ramenchef please, let me know if the fix works for you too.

[2017-06-07 00:42] ramenchef commented on #92
I believe I had that option checked before and it's working now. Thanks!

[2017-06-07 00:42] #92 closed

[2017-06-07 21:50] GAJansen commented on #91
Thanks for the quick fix, Oleg!

On Tue, Jun 6, 2017 at 10:09 PM, Oleg Shevchenko <notifications@github.com>
wrote:

[2017-06-08 04:22] Nos402 opened #93 "Notifier is no longer clearing badge count"
My Chrome notifier extension is no longer clearing the badge count when I mark all as read. If I click it, there are no articles in the list, but the last badge number remains.

[2017-06-08 07:27] olsh commented on #93
Hi @Nos402, have you tried to re-login?

[2017-06-08 23:26] Nos402 commented on #93
I had not. I had restarted Chrome twice to get rid of the notifications before. Today, all seems to be working fine.

[2017-06-14 07:42] WORMSS commented on #93
I am getting this today, sadly a restart is not helping it.. I am getting errors..
![image](https://user-images.githubusercontent.com/1384537/27120822-ef5a1e40-50dc-11e7-8d9c-4cf78abdbcab.png)
A restart doesn't seem to help. I am able to log in to the feedly page myself.

[2017-06-14 07:55] olsh commented on #93
Hi @WORMSS ,
Could you please set a breakpoint here https://github.com/olsh/Feedly-Notifier/blob/master/src/scripts/core.js#L864-L888 and check if you get an access token on 884 line?
This code is executed on login.

Thanks,
Oleg.

[2017-06-14 17:47] morvamorva opened #94 "Notifier is not working"
Hi, this morning the notifier stopped working completely.

It is not fetching and whenever I click on it, it says “no unread articles” even though it shows I have 115 new articles (see screenshot)
![notifier screenshot](https://user-images.githubusercontent.com/29438937/27146659-0f7cc72e-5108-11e7-8f5b-e5b1a8119c56.PNG)

I went on the feedly website and checked my articles and the extension did no

[2017-06-14 18:01] olsh commented on #94
Hi @morvamorva, thanks for letting me know.
There was an issue with logout. Just fixed it and pushed a new version to store, will be available in ~30 minutes.

Please try to log out and check if the issue is solved.

[2017-06-14 18:04] morvamorva commented on #94
It works now, I had to remove it and reinstall it. Thank you very much for your quick attention!

[2017-06-15 09:06] xzyguo opened #95 "Feature Request: keywords filter for individual feeds"

[2017-06-15 09:13] olsh commented on #95
Hi @xzyguo ,

Could you please explain more detail? Is there such feature on Feedly.com?

[2017-06-15 09:16] xzyguo opened #96 "Feature Request: optimize readability"
Allow 2nd line elements arrange to right(source icon, source name, time)

Allow show/hide elements, buttons, icons etc.

[2017-06-15 09:28] xzyguo commented on #95
Hi @olsh
Perhaps no such feature on Feedly.com. I don't use feedly directly too much, not that familiar.
Like I subscribed an Android system changelog RSS, and I set a filter keyword 'security', then automatically mark all messages without 'security' in title as read.

[2017-06-15 09:43] olsh commented on #96
We are going to redesign the extension entirely.
Sadly, we don't have too much time to do that right now, but I hope we'll do that someday. :)

[2017-06-18 12:40] #94 closed

[2017-06-19 14:54] morvamorva commented on #95
@olsh there actually is a keywords filter feature now, they rolled it out last week I think. They call it "mute filters". Feedly notifier still notifies me on the things I have filtered out, so I think an update would be useful.

[2017-06-19 15:06] olsh commented on #95
Hi @morvamorva
Thanks for the info. Just for the reference: https://blog.feedly.com/mute-filters/

1. It seems like there is no API for the feature at the moment: https://developer.feedly.com/
2. The feature is available only for Pro users. I don't have Pro plan, so PRs are welcome. :)

[2017-06-19 18:21] morvamorva commented on #95
Hey @olsh
I am happy to help, but am not a developer. Let me know how I can help.

[2017-06-19 19:31] olsh commented on #95
Hey @morvamorva

This was addressed to everybody. :)

I think we have nothing to do at the moment, we need API for the feature at least.

[2017-06-24 11:31] cialu opened #97 "'Click on articles action' moves the list always to the beginning"
Probably, related to  ["Mark as read" icon moves the list always to the beginning #85](https://github.com/olsh/Feedly-Notifier/issues/85)
issue opened by @LukasThyWalls on 11 May

**How to reproduce:**
- Open Feedly Notifier
- You need a lot of feed entries, at least a few to have the scrollbar
- Scroll down in the Feedly Notifier and select an entry
- Click on that entry, a new panel with the art

[2017-06-24 11:39] olsh commented on #97
Hi @cialu
Thanks for the report. 👍
Yes, it's related to #85
The scroll goes up on every DOM modification (this is an SDK bug).

Please vote for the issue:
https://bugzilla.mozilla.org/show_bug.cgi?id=1324499

[2017-06-28 19:59] olsh commented on #93
I'm clothing the issue out.
Feel free reopen it if you still experience the issue.

[2017-06-28 19:59] #93 closed

[2017-07-12 19:54] CannyDuck opened #98 "Customize CSS with Stylish in Chrome"
I used Feedly Notfier with Firefox and was able to customize the popup CSS styles with Stylish. I switched over the Chrome and installed Stylish again, but unfortunately the CSS defined here is not applied to the Notifier extension popup. You have any idea how to customize the styles in Chrome?

[2017-07-14 08:20] gri1n opened #99 "Intermittently not updating properly"
Intermittently Feedly Notifier is not updating properly. The unread count on the icon gets stuck and won't change again until I log the extension out then back in again.

Google Chrome Version 59.0.3071.115 (Official Build) (64-bit)
Feedly Notifier 2.15.2

[2017-07-17 10:33] ThiefMaster commented on #85
Could this be worked around somehow in case it takes a decade to be fixed in firefox (wouldn't be the first time a small but stays open that long ;x)

[2017-07-17 17:47] AlexNk opened #100 ""Mark as read" and "Mark all as read" fail if popup is closed (Firefox)"
1. Open popup with some unread items
2. Click "Mark as read" or "Mark all as read" - popup will show the progress indicator
3. Quickly close the popup by clicking outside of it
4. Icon will show the old number; popup will show the same list of unread items

Firefox 54.0, Ubuntu Zesty

[2017-07-23 06:00] unauthorized-401 opened #101 "Feature Request: High resolution icons"
How about updating icon set to this one:
https://github.com/marcoceppi/bootstrap-glyphicons
This is the same set as already used in the extension but it looks like we can set a flag to render icons with better quality for retina/high-res displays

Also a subset of font awesome is an option probably at least it is properly scalable.

[2017-07-26 15:45] olsh commented on #99
@gri1n are there any errors in the console?

[2017-07-26 16:25] olsh commented on #100
Hi @AlexNk
It seems like FF disposes `feedIds` and the function fails with `can’t access dead object`
https://github.com/olsh/Feedly-Notifier/blob/master/src/scripts/core.js#L787

The disposing of objects is a feature https://blog.mozilla.org/addons/2012/09/12/what-does-cant-access-dead-object-mean/

Simple array copying doesn't solve the problem.

[2017-07-26 16:42] olsh commented on #98
Hi @CannyDuck
I'm not sure, but it seems like it's impossible to apply your CSS to another extension with Stylish.

[2017-07-26 21:15] faramir opened #102 "Make "reset unread counter" only affect badge count"
Make "reset unread counter" only affect number on badge but not icon color itself. If there is any unread item, icon should be still green, if there is new unread item, badge should show the count of new unread items, if there is really no unread items, the icon should be set to gray (inactive).

_Sent from my Motorola MotoG3 using [FastHub](https://play.google.com/store/apps/details?id=com.fastac

[2017-07-27 17:54] AlexNk commented on #100
Hi Oleg

I'm not familiar with WebExtensions API but is that possible to perform
such operations not in context of popup?

[2017-07-27 18:08] olsh commented on #100
Well, this is not webextension specific bug. The aggressive GC behaves the same for all types of FF add-ons.
For now, I don't have a solution for the issue.

[2017-07-27 18:16] AlexNk commented on #100
show the number of new feeds. Therefore there's an instance which isn't
affected by this GC behavior and can safely perform "mark as read" requests.

[2017-07-27 18:21] olsh commented on #100
Yes, of course, the addon works even if the popup is closed.
The problem is that the _`feedIds` is created in the `popup.js`_ and passed to the `core.js` (background page).

[2017-07-27 20:58] AlexNk commented on #100
Yes, you are right, now I understand the issue.

I tried to debug it on Firefox and found that copying the contents of the
array helps in this case )I don't know if there's any API for cloning
objects in JS, but this approach works for me):

function markAsRead(feedIds, callback) {

*    let ids = [];    for (let i = 0; i < feedIds.length; i++)
ids.push(feedIds[i]);*

    apiRequestWrapper("marker

[2017-07-28 08:36] olsh commented on #100
Hi @AlexNk ,

Thanks for the investigation 👍
I used `splice` function for the array copying, and this didn't work. Will try your code.

[2017-07-31 18:30] soeren-r commented on #99
jquery.min.js:2 Refused to execute inline script because it violates the following Content Security Policy directive: "script-src 'self' blob: filesystem: chrome-extension-resource:". Either the 'unsafe-inline' keyword, a hash ('sha256-65J4FkC69tsUQ2ue0zPaa9o7gcuO5GyseHj1aTC+UUA='), or a nonce ('nonce-...') is required to enable inline execution.

p @ jquery.min.js:2

[2017-08-27 09:00] olsh commented on #85
It seems that the bug was fixed in FF 57.

[2017-09-07 17:57] kcstarr opened #103 "Chrme ext installed but"
when I hit the icon, it sends me to a page which says to install it. I go to the Chrome Web Store &, low&behold, it's already installed. other feedly exts work.

[2017-09-07 18:46] olsh commented on #103
Hi @kcstarr,

Can you see articles in the popup or the extension suggests to log in?

[2017-09-08 15:26] maualberti commented on #94
Same problem: always "“no unread articles” even though it shows I have new articles

[2017-09-16 09:28] olsh commented on #99
Hi guys, sorry for the delay.

Could you please try the latest version 2.15.4?

[2017-09-16 09:36] olsh commented on #103
I'm closing the issue out due to inactivity.
Feel free to reopen the issue.

[2017-09-16 09:36] #103 closed

[2017-09-21 19:15] soeren-r commented on #99
Seems to work now, thank you

[2017-09-21 19:19] #99 closed

[2017-09-24 12:36] simonmadsen opened #104 "after standby many times, no RSS is shown"
it just says no unread articles in the chrome feedly extension after many times standby several days and wake up computer,
consistent issue,
after restart of chrome they show again,,,

[2017-09-25 08:09] olsh commented on #104
Hi @simonmadsen
There are any errors in the console on the background page?

[2017-09-25 11:44] simonmadsen commented on #104
You mean the website that's open?

Didn't check the console but it happened on all websites.
Don't think that's related.
Maybe I misunderstood something.
But the feeds don't load after some time that's for sure.
I think because if standby
________________________________
From: Oleg Shevchenko <notifications@github.com>
Sent: 25 September 2017 10:09:45
To: olsh/Feedly-Notifier
Cc: simonmadsen; Ment

[2017-09-25 11:53] olsh commented on #104
Sorry, I meant the extension background page and its console.
In order to open it, you have to go `chrome://extensions/` page, turn on `Developer mode` and click `background page` link. Please see the screenshot,

![screenshot_092517_025241_pm](https://user-images.githubusercontent.com/3613592/30807152-4a04d87e-a201-11e7-955b-3c9c681ef1bd.jpg)

[2017-09-25 18:16] simonmadsen commented on #104
OK so I'm a developer now : )

NP, see the screen below and let me know if you need more

[cid:c29351c4-bcf5-479b-a479-e78dd8a7493a]

________________________________
From: Oleg Shevchenko <notifications@github.com>
Sent: 25 September 2017 13:53:42
To: olsh/Feedly-Notifier
Cc: simonmadsen; Mention
Subject: Re: [olsh/Feedly-Notifier] after standby many times, no RSS is shown (#104)

You mean the we

[2017-09-25 18:24] olsh commented on #104
You're welcome)

It seems like the screen wasn't attached.

[2017-09-25 18:26] simonmadsen commented on #104
please see attached

https://www.youtube.com/watch?v=Vhh_GeBPOhs

________________________________
From: Oleg Shevchenko <notifications@github.com>
Sent: 25 September 2017 20:24:16
To: olsh/Feedly-Notifier
Cc: simonmadsen; Mention
Subject: Re: [olsh/Feedly-Notifier] after standby many times, no RSS is shown (#104)

OK so I'm a developer now : )
You're welcome)

It seems like the screen wasn't atta

[2017-09-25 23:07] olsh commented on #104
Watched the video 3 times, but still, have no idea why this bug happens.

[2017-09-26 04:42] simonmadsen commented on #104
Didn't you see the picture attached
Basically it's a 401 authentication error
________________________________
From: Oleg Shevchenko <notifications@github.com>
Sent: 26 September 2017 01:07:40
To: olsh/Feedly-Notifier
Cc: simonmadsen; Mention
Subject: Re: [olsh/Feedly-Notifier] after standby many times, no RSS is shown (#104)

Watched the video 3 times, but still, have no idea why this bug happens

[2017-09-26 08:06] olsh commented on #104
I didn't see the image, attach it on GitHub please.

[2017-09-26 08:12] simonmadsen commented on #104
hi Oleg, maybe you can open this link:

https://drive.google.com/file/d/0B6EWkYARgwFURjF6cmpHMWY5NTg/view?usp=sharing

________________________________
From: Simon Madsen <scm@live.dk>
Sent: 25 September 2017 20:26:25
To: olsh/Feedly-Notifier
Subject: Re: [olsh/Feedly-Notifier] after standby many times, no RSS is shown (#104)

please see attached

https://www.youtube.com/watch?v=Vhh_GeBPOhs

_____

[2017-09-28 21:48] #85 closed

[2017-09-28 21:48] #97 closed

[2017-10-01 08:47] simonmadsen commented on #104
perhaps just due to me being logged out, but it happens too often, like after a week,

perhaps prolong the time I stay logged in though perhaps you cannot control that, probably it is an feedly.com setting,

perhaps I can edit the cookie to stay logged in longer,

or there is also another problem,

sometimes as I remember just restarting chrome fixes it,

anyway thanks

___________________________

[2017-10-02 19:08] olsh commented on #104
This issue probably related to #58, will try to investigate.

[2017-10-02 19:10] simonmadsen commented on #104
ok maybe, I will try to give more info on how regularly it happens etc.

thanks for assisting and great work

________________________________
From: Oleg Shevchenko <notifications@github.com>
Sent: 02 October 2017 21:08:56
To: olsh/Feedly-Notifier
Cc: simonmadsen; Mention
Subject: Re: [olsh/Feedly-Notifier] after standby many times, no RSS is shown (#104)

This issue probably related to #58<https:

[2017-10-03 10:28] 6yPaTuHo commented on #104
Приветствую!
У меня тоже перестало обновляться расширение в браузере Chrome и FireFox (все версии последние).
На самом сайте feedly.com все показывается ок.
С чем это может быть связано и как починить?
Спасибо.

[2017-10-06 07:49] zuber1979 opened #105 "Request: add option to save for later read"
I would love to have icon to save for later read on the list of articles.

[2017-10-06 08:11] olsh commented on #105
Hi @zuber1979,

This feature already exists. Please check `Ability to save feeds`.

[2017-10-06 08:20] zuber1979 commented on #105
Thanks, I didn't see that option. Your add-on rocks!

[2017-10-07 09:15] olsh commented on #105
Thanks @zuber1979!

I'm closing out the issue if you don't mind.

[2017-10-07 09:15] #105 closed

[2017-10-25 03:49] Kougeru commented on #104
Having this same issue lately. Thing says "Failed to load resource: the server responded with a status of 401 ()"
"Unable to update feeds"
"Unable to load counters."
"Failed to load resource: the server responded with a status of 401 ()"
"{"errorCode":401, "errorId":"ap7int-sv2.2017102420.2951754", "errorMessage":"must provide authorization token"}"

[2017-10-25 07:01] olsh commented on #104
@Kougeru thanks for the info, will investigate this.
Have you tried to re-login?

[2017-10-25 07:04] Kougeru commented on #104
Yes. Re logging fixed the issue for a few hours but the issue comes back. I only started having this issue on October 24th.

[2017-10-25 07:10] olsh commented on #104
@Kougeru could you please check if the auth token was passed to the failed requests?

[2017-10-25 19:03] livejamie opened #107 "Auto Refresh?"
Would it be possible to have this addon automatically poll or refresh the feeds so I don't have to manually do that throughout the day?

[2017-10-25 19:05] olsh commented on #107
Well, the extension already does this. You can see the interval on the options page.

[2017-10-25 19:29] livejamie commented on #107
So I get a desktop notification that I have 12 new articles and the icon changes, but the page doesn't refresh. It says "Well done! You're all caught up."

![image](https://user-images.githubusercontent.com/49513/32018804-a73a8b32-b990-11e7-8f0b-499803102d79.png)

It would be awesome if the extension detected new content that it would refresh the page so the articles appear. Or if it could detect

[2017-10-25 19:49] olsh commented on #107
Got it. I suppose this is the responsibility of feedly.com site.

It the option is enabled, the extension will work even if you close Chrome (check new feeds and show desktop notifications). You'll see the extension icon in the tray.

[2017-10-26 17:08] morvamorva opened #108 "Not responsive to touch on Windows 10"
I recently switched to Windows 10 and the Notifier does not respond at all when I try to click on it

[2017-10-28 04:17] GATOQSECOMIO opened #109 "the extension interface is not displayed"
After the update (2.15.6), I click on the icon and the content is not displayed.
The extension remains constantly loading and I can't log in.
I have re-installed the extension but it does not solve the issue.

![2017-10-28 06_04_05-developer tools - chrome-extension___egikgfbhipinieabdmcpigejkaomgjgb_background](https://user-images.githubusercontent.com/19736343/32131101-071a433c-bba6-11e7-94c5-1e

[2017-10-28 09:03] olsh commented on #109
Hi @GATOQSECOMIO!

Thanks for letting us know, we'll investigate.

[2017-10-28 09:46] olsh commented on #109
@GATOQSECOMIO,
Please try 2.15.7 and let me know if it solves the issue.

[2017-10-28 10:02] GATOQSECOMIO commented on #109
@olsh

Nice ! now works perfectly :)

[2017-10-28 10:03] olsh commented on #109
Thanks for your help! 👍

[2017-10-28 10:03] #109 closed

[2017-10-28 10:10] olsh commented on #104
Tried to solve the issue in 2.15.7, could you please try it and let me know if the issue is fixed?

[2017-10-28 10:41] simonmadsen commented on #104
I will let you know if I experience it again in the coming weeks
________________________________
From: Oleg Shevchenko <notifications@github.com>
Sent: 28 October 2017 12:10:31
To: olsh/Feedly-Notifier
Cc: simonmadsen; Mention
Subject: Re: [olsh/Feedly-Notifier] after standby many times, no RSS is shown (#104)

Tried to solve the issue in 2.15.7, could you please try it and let me know if the iss

[2017-10-29 13:44] simonmadsen commented on #104
I see some looks different, which I think is good,

if you don't hear from me again, then it's fixed,

________________________________
From: Simon Madsen <scm@live.dk>
Sent: 28 October 2017 12:41:43
To: olsh/Feedly-Notifier
Subject: Re: [olsh/Feedly-Notifier] after standby many times, no RSS is shown (#104)

I will let you know if I experience it again in the coming weeks
________________________

[2017-10-29 17:17] IllusioMan opened #112 "Problem with the icon"
Hello, olsh. How are you?
I'm here to report an annoying bug that begun some days ago.
The icon isn't updating automatically anymore. I need to click to appear the counter too, then to see the messages. Please, fix this.

[2017-10-29 20:12] olsh commented on #112
Hi @IllusioMan,

Thanks for letting me know, will fix it today.

[2017-10-29 20:28] olsh commented on #112
@IllusioMan,
just uploaded 2.15.8 version, it'll be available in few minutes, please let me know if the bug still exists.

[2017-10-29 23:16] IllusioMan commented on #112
I update but still having problems...
The counter still doesn't update automatically and now, i need to click, read and refresh =(

[2017-10-30 00:33] IllusioMan commented on #112
Olsh, i have news.
The counter is ok now. But the problem is about the Read. If i click on the icon of an eye or Mark all as read are not working. I need to refresh to read and change the counter O_O

[2017-10-30 13:27] IllusioMan commented on #112
It's working!!! Nice and clear. Thanks.

[2017-10-30 14:27] olsh commented on #112
Good to hear, thanks!

[2017-10-30 14:27] #112 closed

[2017-11-08 10:45] olsh commented on #104
I'm closing out the issue, feel free to reopen it if the bug wasn't fixed.

[2017-11-08 10:45] #104 closed

[2017-11-08 11:27] simonmadsen commented on #104
Seems better.

Thanks!

________________________________
From: Oleg Shevchenko <notifications@github.com>
Sent: 08 November 2017 11:45:11
To: olsh/Feedly-Notifier
Cc: simonmadsen; Mention
Subject: Re: [olsh/Feedly-Notifier] after standby many times, no RSS is shown (#104)

Closed #104<https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Folsh%2FFeedly-Notifier%2Fissues%2F1

[2017-11-13 21:18] maxp-edcast opened #113 "Not receiving notifications"
I see 576 unread articles but never got the request for desktop notification permission. It doesn't show any notifications. Chrome 62.0 on OSX 10.12

[2017-11-13 21:27] olsh commented on #113
Hi @maxp-edcast,

Thank you for the reporting.

You should get the permission request on the extension installation.

Could you please check if there are errors on the background page?
In order to do this, you have to go to `chrome://extensions/`, check `developer mode` checkbox and open `background page` link of the extension.

[2017-12-11 18:56] CannyDuck opened #115 "Allow font and font size configuration"
Now that Firefox 57 is released and Stylish css definitions does not apply to extensions anymore. Please allow a more fine-grained font configuration (family / size) for the titles and the extended view.

[2018-01-13 22:35] #107 closed

[2018-01-13 22:36] #113 closed

[2018-01-14 21:08] olsh commented on #108
Could you please provide more information about the issue?
I'm using Windows 10 too and don't have any problems with it.

[2018-01-28 21:15] olsh commented on #108
Closing this out due to inactivity.
Please, feel free to reopen it.

[2018-01-28 21:15] #108 closed

[2018-01-28 21:17] olsh commented on #98
It seems like a duplicate of #115

[2018-01-28 21:17] #98 closed

[2018-02-09 19:10] #101 closed

[2018-02-09 19:10] olsh commented on #101
Updated in #117

[2018-02-09 21:35] jrhardman64 opened #119 "Mark As Read Not Working In Google Chrome"
The "mark as read" button seems to be blocked out in the Chrome extension.  I'm running Chrome version 62.0.3202.75

[2018-02-09 21:45] olsh commented on #119
Thank you for the reporting!

[2018-02-09 21:45] #119 closed

[2018-02-13 07:36] SabreRunner opened #120 "Exact days count replaced by weeks."
Why has the days count for news items been replaced with weeks instead? It's much less precise and I don't like it.

[2018-02-13 08:10] olsh commented on #120
Hi @SabreRunner ,

We replaced timeago library in the latest release.
Old versions use http://timeago.yarp.com/
Starting from 2.17.2 we are using http://timeago.org/

We had some localizations and other issues with the jquery timeago library, that's why we switched to another version.
Probably you should open an issue in the timeago repo about the difference in rendering?

[2018-02-13 08:39] SabreRunner commented on #120
Can't there be a toggle or some setting so I can select how to see it?

[2018-02-13 08:47] olsh commented on #120
I didn't find such toggle in the source code
https://github.com/hustcc/timeago.js/blob/master/src/timeago.js

[2018-02-13 09:43] SabreRunner commented on #120
Excuse me but I don't have the time to read a library.
So how does it work? Why was it changed?

[2018-02-13 17:42] olsh commented on #120
Could you please concretize the question?

I think, this question should be addressed to the authors of the library.

[2018-02-14 11:33] olsh commented on #120
I will try this when I have some time.
https://github.com/hustcc/timeago.js/issues/119

[2018-03-25 04:59] Daktyl198 opened #121 "Rendering issues caused by latest Nightly upates"
A change recently landed in Nightly to make hanger popups use a dark/black background when using the default Dark Firefox theme. For example, the Library popup now looks like this:
![image](https://user-images.githubusercontent.com/2475672/37871900-b2f528bc-2fc7-11e8-90b1-dea911052714.png)
This makes it so that the background of the popup behind the feed list in Feedly Notifier is black while the

[2018-04-26 21:53] morawcik opened #122 "Popup window is broken"
Hi
Starts from couple days ago most time when I'm trying open popup window it opens normal but then very fast switch to so small like 50x50px. There are a times when it opens normal and stay normal but it's like 20% from every opening.

![zrzut ekranu 2018-04-26 o 23 50 18](https://user-images.githubusercontent.com/4557530/39333893-eb31f986-49ac-11e8-8b43-c4d3a0128785.png)
![zrzut ekranu 2018-04-2

[2018-04-26 21:55] olsh commented on #122
Hi, could you please specify your browser?

[2018-04-26 22:02] morawcik commented on #122
Google Chrome was 65.* (not know details) and now 66.0.3359.139 - broken on both

[2018-04-27 13:26] olsh commented on #122
I can't reproduce this issue on Windows 10.
@morawcik are you using Mac too?

[2018-04-27 13:28] morawcik commented on #122
Yes, Mac OS X Sierra and High Sierra

[2018-04-27 13:28] olsh commented on #122
Probably related to
https://github.com/olsh/Feedly-Notifier/blob/master/src/scripts/popup.js#L190-L193

I'll try to find a Mac to test.

[2018-05-06 20:32] morawcik commented on #122
What help?

I think that it can be this bug but I had this problem only with Feedly Notifier.

[2018-05-07 04:09] madhur commented on #122
I am having same issue.

<img width="121" alt="screen shot 2018-05-07 at 9 38 05 am" src="https://user-images.githubusercontent.com/509431/39684567-729f3ae8-51da-11e8-9698-d30e272f7bf1.png">

Running MAC OSX Sierra 10.12.6

Chrome Version 66.0.3359.139 (Official Build) (64-bit)

[2018-05-07 07:48] olsh commented on #122
Guys, if you can, please build the extension from the sources and play with the code (remove it, increase interval etc.):
https://github.com/olsh/Feedly-Notifier/blob/master/src/scripts/popup.js#L190-L193

Here are the build steps:
https://github.com/olsh/Feedly-Notifier#build

[2018-05-07 08:25] olsh commented on #122
Are you using the lastes keys for the sandbox?
https://groups.google.com/forum/#!topic/feedly-cloud/lvGXcO5uzas

[2018-05-07 08:26] morawcik commented on #122
Yes

[2018-05-07 08:28] akaSybe commented on #122
I'll take a look in the evening

[2018-05-07 08:36] morawcik commented on #122
But @olsh before removed this if statement even popup with login button was broken so maybe this is solution for all this problem?

[2018-05-07 08:41] olsh commented on #122
@morawcik just pushed a fix for the sandbox build, please rebuild the extension.

Probably, but we need to test this. Here is the long thread about the issue:
https://github.com/olsh/Feedly-Notifier/issues/59

[2018-05-07 08:46] morawcik commented on #122
Thanks.
So removing if statement helps but it's not a solution - popup still resizing to small version but much less often.

[2018-05-08 17:39] olsh commented on #122
@morawcik how the testing is going, any issues?

Could you please send a PR if everything is ok?

[2018-05-08 20:49] akaSybe commented on #122
I increased timeout for Mac. New version will be available in store soon.

[2018-05-09 06:37] morawcik commented on #122
Nice, thanks @akaSybe

Sorry @olsh I just back to home. It works great - no single problem :)

[2018-05-09 08:37] olsh commented on #122
Cool, I'm closing this issue out then.
Feel free to reopen it if you still have the bug.

[2018-05-09 08:37] #122 closed

[2018-05-14 15:17] clavat commented on #95
Hi,

Yes it could be very nice to have filter in your extension, that automatic mark as read every news that match the filter.
For me I search for a popularity filter, Feedly can do it in Pro plan, but i guess with a small PR it's possible to mark as read every news with low popularity ?

@olsh is it possible ?

[2018-05-14 16:42] olsh commented on #95
Hi @clavat

Well, probably it's possible to implement a workaround for the specific filter case(low popularity), but we need to load _all articles_ (some users can have thousands of unread articles) from time to time to check the popularity and mark them as read.
Moreover, the popularity is not a constant value, don't know how Feedly handle this in their filters.

Please, correct me if I'm wrong.

[2018-05-16 12:32] rubemalmeida opened #125 "Add function like a 'Snooze for a time'"
Add function to snooze the notifications for X minutes.
Excuse if is wrong, this is my first post issue.

[2018-05-16 12:33] akaSybe commented on #125
It's possible at first sight, we'll take a look.

[2018-06-27 16:40] zuber1979 opened #126 "Works incorrectly in Firefox 61"
- does update until clicked
- does not clear saved, when unclicked

[2018-06-27 19:51] olsh commented on #126
Hi @zuber1979,

Can't reproduce on Windows 10.
Could you please check if there are errors in the FF console?

[2018-06-29 07:48] wrooot commented on #126
Works as intended for me also, Win7.

[2018-06-29 07:51] wrooot commented on #115
Not a big problem, but having font settings would be nice.

[2018-06-29 07:54] wrooot opened #127 "Donate button doesn't work"
Well, not a critical bug :) But if i press on Donate, it just goes to Paypal Home page. Maybe you should change the link to just https://www.paypal.me/feedlynotifier

[2018-06-29 08:28] olsh commented on #126
Thanks, guys!
Closing this issue then, feel free to reopen it.

[2018-06-29 08:28] #126 closed

[2018-06-29 11:38] wrooot opened #128 "Do not show popup after closing last article"
I have "Force update feeds on popup open" disabled. When i make last article as read in the popup it still pops, runs the update and then shows the "No unread articles" in there. It would be nice to have an option to disable that last check. For me it is enough just to have a time interval and i don't need it to update that often and that last popup is distracting.

[2018-07-05 10:56] olsh commented on #128
Hi @wrooot,

Thanks for the suggestion! 👍
What is the desired behavior then?

[2018-07-05 16:09] wrooot commented on #128
After i click on a link of a last article or hide last article it could just collapse and close.

[2018-07-05 16:35] olsh commented on #128
Makes sense, and if you open the popup again it'll load new articles?

[2018-07-05 19:32] wrooot commented on #128
Yeah, if i press it myself, even if it doesn't show a number of unread articles, i guess it should reload then. Although, personally i would only press it to go to Feedly website. As i don't often do that, i don't have strong preference there.

[2018-07-06 08:12] #95 closed

[2018-08-14 06:51] marczellm opened #129 "Feature request: open in sidebar"
As a user, I would like to see the list of Feedly articles in a Firefox sidebar and open the full articles (on their website) in new tabs from there. (My current flow is: split the screen, snap FF to the right and a separate feedreader app to the left.)

Would this be possible? I can work on the implementation too and then pull request.

[2018-08-14 08:01] olsh commented on #129
Hi @marczellm,

Sounds like a great idea, I would very appreciate if you submit a PR.
Are you talking about [the API](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/user_interface/Sidebars)?

[2018-08-14 08:02] marczellm commented on #129
Yes. I don’t know though if it would cause compatibility issues with other browsers or if those would just ignore it

[2018-08-14 08:04] olsh commented on #129
It seems like the API is not supported in Chrome, so we should use preprocessing [like this](https://github.com/olsh/Feedly-Notifier/blob/master/src/manifest.json#L51)

[2018-08-14 09:20] marczellm commented on #129
I started a fork: https://github.com/marczellm/Feedly-Notifier/tree/feature/firefox-sidebar
Most things seems to work smoothly because popup UI and sidebar UI is equivalent in how it works in Firefox.

The main issue is that while popup width is set by the extension, sidebar width is user resizable. Opening the summary of an article makes the UI wider than the max possible sidebar width. For sideb

[2018-08-14 19:16] olsh commented on #129
Thanks, I can try to help with this when I have some time, but probably this won't happen soon.

[2018-08-15 12:30] marczellm commented on #129
Quoting https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/user_interface/Popups:

This means it looks like this:

![image](https://user-images.githubusercontent.com/6771275/44148167-6784ecd2-a097-11e8-93b4-782d11f68f80.png)

There is no way to scroll to the right hand side buttons.

Don't you think that it would be better if the entire UI would resize instead of having a fixed

[2018-08-19 04:45] MiniMistake opened #131 "Bug Report: HTTP Referrer does not get sent when clicked"
I have this add-on installed in Firefox: https://addons.mozilla.org/en-US/firefox/addon/referercontrol/

Unfortunately, the referrer for each specific website I set in referercontrol is not followed by Feedly Notifier, whereas it works when just clicking a link inside the brower. For example:

[code]

Works when I go to google.com (google sees the referrer as test.com) (referrer log below)

[code]

[2018-08-21 15:29] Kenya-West opened #132 "Doesn't work in Chrome 68 with "Native notifications" enabled (Windows 10)"
Try to go `chrome://flags` and enable "Native notifications". In Windows 10, with the feature enabled, clicking on a native notification does nothing.

That's how native notifications from Feedly notifier look like:

![windows10_a2018u_feedly_notifier_native_notifications_1](https://user-images.githubusercontent.com/12271104/44411824-5db18480-a5a2-11e8-9c61-896aeef99f98.png)

[2018-08-24 07:59] sepodele opened #133 "Disable sync between PCs?"
Think you can make an option to prevent syncing completely? I have a HTPC where I don't want to use the extension at all, but disabling the extension will disable it on my other PCs as well.

[2018-08-26 21:13] olsh commented on #132
Hi @Kenya-West,

Thanks for letting me know.

It seems like this is a Chrome issue, please read [the comment](https://bugs.chromium.org/p/chromium/issues/detail?id=873428#c19).
So we should wait for Chrome 69 release.

[2018-08-31 16:36] nugend commented on #126
@olsh I'm having this issue on FF 61.0.2

I tend to leave my browser open for a week at a time. Might be some sort of timer issue?

[2018-09-01 14:45] olsh commented on #126
Hi, @nugend!

Well, probably it's a timer issue, but sadly I can't reproduce it :(
If this happens again, could you please check console errors?

[2018-09-17 16:56] sepodele commented on #133
I'm using Chrome and I want to keep sync on the 30 or so other extensions I'm using.

So you're saying disable notifications on HTPC will not sync and disable it automatically on my other PC?

[2018-10-02 19:01] mapl opened #134 "Scroll or Load More Feeds"
I am not sure if i've missed the option load more feeds in the extension while viewing. I have lof of unread feeds, but only the maxmium of feeds configured in the option wil be disabled. Is there a way to load more in the popup?

[2018-11-10 13:16] Poggles opened #135 "Saved tab displays removed articles"
I had about 14 articles saved for later.  I marked them all as read and then removed the bookmark.  As expected the items disappear as normal, except one.  For some reason it is now a week and one article always appears in my bookmarks.  The website itself shows it removed, and if I re-add it and then remove it again through either your interface or the Feedly website, it still remains in the exte

[2018-11-12 09:03] olsh commented on #135
Hi @Poggles,

If you click the refresh button, the bookmark remains not highlighted?
Also, could you please check if there any errors in the console of the popup window?

[2018-11-12 12:52] Poggles commented on #135
Hi @olsh
No errors in the console. If I refresh it is still no hightlighted / saved.  If i view this through the feedly website then it is not saved.

If I save another item, and un-save it through your extension, it works as expected.  It just seems to be this one article.

I am beginning to suspect its an issue with Feedly though, not your app.  Looking at the html below, both the working and no

[2018-11-12 12:57] Poggles commented on #135
Interesting.  If I re-add the bookmark to this article in the main feedly website, then mark it as unread. I get this:

![image](https://user-images.githubusercontent.com/33622197/48348848-c2045180-e682-11e8-9aca-56400079441b.png)

The website just shows one copy.  If I re-mark it as read, and remove bookmark, then we are back to just one on you app.  This is a strange little issue :)

[2018-11-12 16:40] olsh commented on #135
Really strange.

Could you please open the background page of the extension and check response for the saved articles?
Here is my for example
[code]

I can't reproduce the issue with my feeds, could you please provide the feed?

[2018-11-12 18:33] Poggles commented on #135
OK, I gave it a go.  Not familiar with the chrome console, so I couldn't get it into nice JSON like yours.  It is below if you need it.  If you can tell me how you got output looking like yours, I can try again tomorrow after work.

The feed itself is:
http://feeds.feedburner.com/RockPaperShotgun
and the problematic post is about 10 days old.

The Entitities element looks a bit odd to me.

[code]

[2018-11-12 21:12] olsh commented on #135
Ok, so, the buggy article has no `global.saved` tag, that's weird, because we request all entries marked with the tag.

[code]

I can't reproduce the issue with the feed, because I can't scroll to the articles (only three days back available), it seems like there is a restriction on the Feedly side. I can't reproduce the issue with my feeds either.

Probably, you don't see the article on the Feedl

[2018-11-13 14:59] Poggles commented on #135
If I mark it as unread, then it appears on the website as unread, but NOT saved for later (it is saved in your extension).

If I then bookmark it, it behaves as expected on the website (saved for later), and I end up with 2 copies in your extension.

If I mark as read, the website behaves correctly, I still have 2 on the extension.

If I remove the bookmark, then it disappears entirely from the we

[2018-11-13 15:02] Poggles commented on #135
I agree it seems to be the feedly api itself.  I just removed your extension and then reinstalled it.  Same issue.  The problem seems to reside within what feedly is serving you.

[2018-11-13 15:03] Poggles commented on #135
And thanks for looking at this, it is appreciated.

[2018-11-15 06:08] olsh commented on #135
I contacted Feedly dev team, they should fix the issue.
Please let me know if the article disappeared.

[2018-11-15 09:49] Poggles commented on #135
It is already gone, that's quite an impressive turnaround time.  Thanks for doing this,

[2018-11-15 09:49] #135 closed

[2018-11-17 16:33] ThiefMaster opened #136 "Sync settings"
At least in Firefox, the settings of the extension are not synced via Firefox Sync. It would be nice if that changed!

[2018-12-06 07:12] fd2012 opened #137 "Settings not working in ff 63.0.3"
There is no option to change the settings:
![feedlyext](https://user-images.githubusercontent.com/2177845/49567622-90537300-f92e-11e8-98a5-84c8bd99d867.png)

[2018-12-06 07:29] akaSybe commented on #137
could you please specify browser & OS versions?

[2018-12-06 07:30] akaSybe commented on #134
There is no such option atm.

[2018-12-06 07:52] fd2012 commented on #137
Firefox 63.0.3 (64 bit), Windows 10 Pro (64 bit)

[2018-12-06 10:49] akaSybe commented on #137
I'll check it tonight

[2018-12-06 11:03] fd2012 commented on #137
After closing and starting Firefox all checkboxes are there. Thank you.

[2018-12-06 21:59] #137 closed

[2018-12-10 10:33] update-freak opened #138 "Tiny Tiny RSS support"
it would be great, if you could add support for Tiny Tiny RSS!

[2019-01-07 09:46] kathampy opened #139 "Exclude category from counter but still update & show in pop-up"
I have a category with hundreds of new items a day. The filters section should have a "hide from counter" option for each category so that such categories can still be read in the popup without cluttering the counter.

[2019-01-09 11:21] Dimas-sc opened #140 "Add Pocket integration"
It would be nice to have an icon on every item to save it to Pocket.

[2019-01-09 23:50] akaSybe commented on #136
Current version uses Sync Storage for Firefox.

This kind of storage doesn't support sync: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/storage/local

We need to investigate if Firefox last versions support sync storage

[2019-01-11 11:49] olsh commented on #138
Hi @update-freak
Tiny Tiny RSS is completely different RSS aggregator which has nothing common with Feedly?
Am I correct?

If so, then I think that this is a job for yet another plugin.

[2019-01-13 07:07] #138 closed

[2019-01-13 07:08] #131 closed

[2019-01-29 11:32] marczellm commented on #136
They do.

[2019-02-10 13:11] #136 closed

[2019-02-12 10:42] Kenya-West opened #141 "Add dark theme support on upcoming Chrome v74"
Chrome v74 (which will hit the market in April) will introduce dark theme on the browser's UI.
Is there any API to detect dark theme switch to enable dark interface on the extension?

[2019-02-12 19:01] akaSybe commented on #141
we are going to completely redesign extension soon, so, we will take this one into account when developing

[2019-02-17 12:41] gwolf2u opened #142 "Popup width setting no longer applies - Firefox 66"
Setting for popup width no longer gets applied for Firefox after updating to 2.20.0

Edit:
Reverting to 2.19.0 "fixes" it

[2019-02-17 16:37] franco999 commented on #142
Me too.. Firefox Quantum v65.0 in Linux Mint 19.1

[2019-02-17 17:07] olsh commented on #142
Can't reproduce it with Firefox 65.0.1 on Windows 10.
Have you tried to resave the settings?

[2019-02-17 17:09] gwolf2u commented on #142
yes, even removed extension and readded

[2019-02-17 17:14] gwolf2u commented on #142
My settings if it matters
![capture](https://user-images.githubusercontent.com/877292/52916451-43a1f600-32e8-11e9-86bc-3b016bad1aad.PNG)

[2019-02-17 18:19] olsh commented on #142
@gwolf2u which OS are you using?
Are you using Firefox Sync?

[2019-02-17 18:24] gwolf2u commented on #142
Windows 10 x64 updated to latest
And yes using ff sync

[2019-02-17 19:38] franco999 commented on #142
I'm back to version 2.19 and it works well for me.

I have ff sync enabled as well.

[2019-02-17 20:20] olsh commented on #142
Well, I manage to reproduce the problem, will fix it soon.

[2019-02-17 22:28] #142 closed

[2019-02-17 22:39] olsh commented on #142
The issue was fixed in 2.21.0

Thanks!

[2019-02-18 03:33] Arnavion opened #143 "v2.21.0 popup broken in Chrome"
https://github.com/olsh/Feedly-Notifier/commit/40f7829b081af862a097dbabbbef1bb197ec4e3f#diff-010e35ff4155f0f1f479c68faf935e12R23

[code]

Needs a `typeof browser !== "undefined"`

[2019-02-18 04:00] #143 closed

[2019-02-18 04:34] animehunter2k19 opened #145 "Feedly Notifier no longer loading when clicked"
Not sure when, but possibly ever since a chrome update (Version 72.0.3626.109 (Official Build) (64-bit)) Feedly Notifier no longer opens when I click on it.

all I get is the notification that it's doing something, but nothing else

![screenshot 2019-02-18 04 27 21](https://user-images.githubusercontent.com/47731797/52928064-c1d8b980-3335-11e9-8138-e44f34ceed6b.png)

I should note that it was at t

[2019-02-18 05:01] animehunter2k19 commented on #145
It has started working, thanks for fixing it.

[2019-02-18 05:01] #145 closed

[2019-02-20 10:45] plisskenrd opened #146 "Stopped working in Waterfox, doesn't open pop-up"
Add-on was working fine then suddenly stopped working two days ago, won't open pop-up no more, just stalls loading, same thing with sidebar...

![preview](https://i.imgur.com/jnF5tGrm.jpg)  ![preview](https://i.imgur.com/ue9yKVQ.png)

[2019-02-21 20:05] Boournz commented on #146
Same issue here. Only solution is to downgrade to v2.19 for now.

[2019-02-21 21:18] #146 closed

[2019-02-21 21:22] olsh commented on #146
Waterfox is based on a pretty old version of Firefox, which doesn't support some sidebar APIs, fixed that in 2.21.2
Please note, that the extension looks even uglier in the sidebar that in the popup :)
Because we can't use some hacks which relies on the new sidebar API.

[2019-03-04 17:03] rivella50 opened #147 "Feature Request: Show duration if the article/entry is a video"
Hi there,
since i subscribe to a lot of YouTube channels (and therefore most of my Feedly articles are actually videos) i would appreciate it to see the duration of those videos i get listed in the Feedly Notifier.
Not sure if that information is available at all, but let's see.
Thanks for considering it!

[2019-03-05 20:54] olsh commented on #147
Hi @rivella50 ,

Thanks for the suggestion 👍
I didn't find any API would provide the info. Also, there is no such feature on feedly.com and in their mobile app. So I think there is no API for that.

[2019-03-05 20:57] rivella50 commented on #147
Thank you for checking that.
Perhaps somewhen in the future...

[2019-03-07 08:10] rivella50 commented on #147
I've just voted for that [feature](https://feedly.uservoice.com/forums/192636-suggestions/suggestions/4532806-add-duration-time-to-youtube-video-thumbnail-in-th).

[2019-03-30 16:03] Mioni opened #148 "Decrease the Interval Period"
First I love its extension! 🎉
Could not you cut the interval by 5 min? or 1 min?

Thank you!

[2019-04-01 07:32] olsh commented on #148
I'd like to do that.
And it's pretty easy to do https://github.com/olsh/Feedly-Notifier/blob/master/src/scripts/core.js#L51

But Feedly team doesn't allow to set the interval lower than 10 minutes, so I can't do that.

[2019-04-25 17:38] Mark33333 opened #149 "Categories Are Not Populating Completely"
I have selected several article categories to appear in the app.  It appears that all of the articles display under ALL.  However, all of the articles per category do not display.  I constantly need to click on update to trickle in all of the articles per category.  How can I get all of the articles to display per category? Thanks.

[2019-05-29 00:20] LukasThyWalls opened #150 "Save to board"
Simply that, alongside the "read for later icon, make an icon to show your boards to save the article in one of them.

For sure the tricky part is to fetch your actual boards. Maybe Feedly API doesn't allow that.

[2019-06-12 07:54] lorthirk opened #151 "No Favorite category?"
Hi,

I'd like to have the extension only notify for feeds in the Favorite category; however, such category is not available in the list. Am I missing something, or it needs to be implemented? I guess it should be hardcoded in someway, since it's provided by Feedly itself

[2019-06-12 12:58] olsh commented on #151
Hi @lorthirk

Well, I've never heard about the category before. According to the documentation, it's `user/:userId/category/global.must`.
https://developer.feedly.com/cloud/#global-resource-ids

It's nice to have feature I think.

[2019-07-02 04:19] KsenZ opened #152 "Variable $count$ used but not defined."
Can't install from chrome store.
Get error "Variable $count$ used but not defined."

Chrome 75
Linux

[2019-07-02 07:22] olsh commented on #152
Hi @KsenZ, which language are you using in Chrome?

[2019-07-02 14:26] #152 closed

[2019-07-02 14:36] olsh commented on #152
The bug is fixed in v2.22.2, thank you for the feedback 👍

[2019-08-12 16:55] AGlezB opened #153 "Unread counter shown without items"
Version: 2.22.2 on Firefox 60.8.0esr (64-bit)

The counter and the list seem bo out of sync:

![20190812-125018-000986 - Feedly](https://user-images.githubusercontent.com/12277525/62882521-0c912800-bd00-11e9-8aae-c27e91ca7fc4.png)

[2019-08-12 17:03] AGlezB commented on #153
And more:
![image](https://user-images.githubusercontent.com/12277525/62883220-8970d180-bd01-11e9-93d9-7b55e2abbcb5.png)

[2019-08-12 21:44] olsh commented on #153
Hi @AGlezB ,

Can you please check the console logs `ctrl + shift + J`? Also, how many unread items you see on feedly.com?

[2019-08-12 21:52] AGlezB commented on #153
At this time I'm seeing 9.

![image](https://user-images.githubusercontent.com/12277525/62901007-afaa6780-bd29-11e9-8e4e-3a6325a4d752.png)

[code]
It seems the fetching the counter is working but fetching the list is not.

[2019-08-12 21:55] olsh commented on #153
Could you please expand the error?

[2019-08-12 21:55] AGlezB commented on #153
![image](https://user-images.githubusercontent.com/12277525/62901276-5c84e480-bd2a-11e9-8be7-9318c09b44e4.png)

[2019-08-12 21:57] olsh commented on #153
Thanks, will try to reproduce this tomorrow.
Have you tried to restart the browser or test the plugin on [a clean profile](https://support.mozilla.org/en-US/kb/profile-manager-create-remove-switch-firefox-profiles#w_creating-a-profile)?

[2019-08-12 22:06] AGlezB commented on #153
Yes to all:

- Restart browser
- Restart PC
- Use a new --clean-- profile.
- Disable AV

[2019-08-12 22:44] AGlezB commented on #153
@olsh This will be a lot easier if I just give you a login for my feeds. Let me know if you want it.

[2019-08-12 23:11] AGlezB commented on #153
It seems `http://www.tftcentral.co.uk/blog/feed/` is the one causing the issues.

[2019-08-13 16:55] olsh commented on #153
Hmm, unable to reproduce the issues, tried FF 60.8.0esr, FF 68.0.1, Chrome 76.0.3809.100 all browsers 64bit.
Used a test Feedly account with the feed.

[2019-08-13 18:32] AGlezB commented on #153
Me neither.  I guess they fixed the feed.
Next time I'll make sure to save the XML and the JSON responses.
Thanks.

[2019-08-13 18:32] #153 closed

[2019-09-05 06:34] Flavien06 opened #154 "Resquest, option to hide images"
Hello,
It it possible to add an option to hide all images in the extended pop-up, to have an compact view.

[2019-11-10 10:48] #151 closed

[2019-11-10 11:06] olsh commented on #151
The feature is implemented in 2.23.0 version.
Thank you for the suggestion 👍

[2019-11-14 09:15] olsh commented on #128
The feature is implemented in e9355490f0f7d19880b63b9bd04af360a8140ae3 and will be available in the next version.
Thanks for the suggestion 👍

[2019-11-14 09:15] #128 closed

[2019-11-17 18:44] #133 closed

[2019-11-18 02:32] linhongjun opened #155 "Can't retrieve feed updates now."
Recently my Feedly Notifier can't retrieve feed updates,
I want to know how Feedly Notifier connect to  server?
I'm using proxy with Switchy Omega to access website outside China in Chrome.
Accessing feedly website and feed page is no problem.

[2019-11-18 06:15] olsh commented on #155
Could you please specify the browser version and check console log for errors?

[2019-11-18 06:36] linhongjun commented on #155
Thank  you for reply.

Chrome Version 78.0.3904.97 (Official Build) (64-bit)

Where to see console log for extension?

[2019-11-18 06:37] linhongjun commented on #155
More, I click green icon, only show loading status.

[2019-11-18 07:42] olsh commented on #155
Go to `chrome://extensions/` and click on the `background page` link under the extension name.

When did the issue appear the first time?

[2019-11-18 07:47] linhongjun commented on #155
About one month? Recently I found no feed update notification.
![image](https://user-images.githubusercontent.com/16095518/69033775-aca2cf80-0a1a-11ea-8804-db1d028d889f.png)
It works just now.

[2019-11-18 07:53] olsh commented on #155
The extension works as expected, or do you mean the network requests on the screenshot?
Could you please open the console tab?

[2019-11-18 07:57] linhongjun commented on #155
![image](https://user-images.githubusercontent.com/16095518/69034406-1c658a00-0a1c-11ea-8e01-85b6db605aa5.png)

[2019-11-18 08:00] olsh commented on #155
Probably the proxy blocks the requests or something.
I'll try to reproduce the issue, but it seems like it's some kind of misconfiguration of the proxy/network.
The network-related stuff in the extension [wasn't changed for two years](https://github.com/olsh/Feedly-Notifier/blob/master/src/scripts/feedly.api.js).

[2019-11-18 08:04] linhongjun commented on #155
So the traffic goes through proxy as usual? This happens recently. I am using proxy over two years for website outside China.

[2019-11-19 18:08] Agramon opened #156 "Constant popups"
Since the last update, I got a Chrome notification popup saying I got many new post to open every 10 minutes. It shows the current amount of posts, not the new ones since the last check. Can you please revert back to the previous behaviour.

Thanks.

[2019-11-19 18:59] #156 closed

[2019-11-19 19:02] olsh commented on #156
Thanks for letting me know.
The issue fixed in 2.24.1 version.

[2019-11-21 05:08] wrooot opened #157 "Last article is not removed on read"
Related to https://github.com/olsh/Feedly-Notifier/issues/128

I didn't realize at first there was a new setting for this (should have looked at the changed code). And it works, but there is a bug. When i open the last article, the popup does go away, but it doesn't update the read count and still shows 1 unread and the same article in the popup, although on Feedly side all articles show as read.

[2019-11-21 06:20] olsh commented on #157
Could you please specify your browser version?

[2019-11-21 06:30] wrooot commented on #157
70.0.1

[2019-11-21 08:05] olsh commented on #157
I managed to reproduce the issue. It seems like it affects only FF.
I just uploaded version 2.24.2 to [AMO](https://addons.mozilla.org/en-US/firefox/addon/feedly-notifier/), could you please test it when it will be approved?

[2019-11-21 19:23] wrooot commented on #157
2.42.2 fixed this

[2019-11-21 19:23] #157 closed

[2020-01-07 19:19] olsh commented on #155
Hey @linhongjun,

Have you figured out what it was?

[2020-01-07 23:48] linhongjun commented on #155
No, but I disabled this extension since that time.

[2020-02-02 19:51] tjesp opened #158 "Posts with no titles"
I rarely experience a post on my rss feed that have no title. When I do I can't "click" anything to open the article. I wonder if you could make a fallback if there is no title so that there is something that is clickable?

[2020-02-03 07:17] olsh commented on #158
Hi @tjesp,

Thank you for the feedback.
Could you please provide an example of such an RSS feed?

[2020-02-03 07:33] tjesp commented on #158
The latest I saw was the latest post from

https://ildspor.wordpress.com/

It appears in my Feedly Notifier with no header and nowhere to click.

[2020-02-03 18:17] olsh commented on #158
I can't reproduce the issue at the moment; maybe it was a Feedly issue.
I won't close the issue; please ping me if you get an empty title again.
![image](https://user-images.githubusercontent.com/3613592/73678899-692b3980-46ca-11ea-9ea4-2ada035ffc2e.png)

[2020-02-03 18:18] tjesp commented on #158
Is there anything I can do at my end to help? Can I check if there are in-fact some characters in the title or can I do something else?

[2020-02-03 18:38] olsh commented on #158
Well, if you can familiar with developer tools, you can inspect the popup.
Also, the network inspection will be useful as well.
btw, which browser are you using?

[2020-02-15 08:21] oren64 opened #159 "Feedly Notifier Problem"
Hi

I have a problem showing articles in Feedly Notifier in Firefox.
I delete my Feedly account and open a new account, and now Feedly Notifier not showing articles, like the account is not synced with Feedly Notifier.
It shows "No unread articles", and in the optiones it no showing the feeds collection name checkbox.

Thanks

[2020-02-15 18:11] s-kaczmarek opened #160 "Sound notifications"
That would be nice if I could decide to have sound notifications or not. I don't see any option to turn them off in settings.

[2020-02-16 08:36] olsh commented on #160
Hi @s-kaczmarek,

Could you please specify which browser are you using?

[2020-02-16 10:14] oren64 commented on #159
I reinstall Firefox and now it's works ok.

[2020-02-16 10:15] olsh commented on #159
Hi @oren64,

Thank you for the feedback! Can we close this issue?

[2020-02-16 19:16] s-kaczmarek commented on #160
sure, firefox

niedz., 16 lut 2020 o 09:36 Oleg Shevchenko <notifications@github.com>
napisał(a):

[2020-02-17 08:10] olsh commented on #160
Does `Play alert sound on new feeds` option work for you?
![image](https://user-images.githubusercontent.com/3613592/74634976-15165f80-5176-11ea-8a8d-2bc40902afad.png)

[2020-02-17 10:00] #159 closed

[2020-02-17 19:59] s-kaczmarek commented on #160
No, when I right click on feedly icon on my address bar I only see "Remove
from Address Bar" and "Manage Extension" after clicking on "Manage
Extension" it redirects me to plugin setting, that look like this:
[image: 20200217-205638-.png]

pon., 17 lut 2020 o 09:10 Oleg Shevchenko <notifications@github.com>
napisał(a):

[2020-02-17 20:37] olsh commented on #160
You can open the extension's options by this URL.
`moz-extension://0015e651-27f4-4f2e-8015-bacca1e7301c/options.html` or clicking on `Options` on the extensions management page
![image](https://user-images.githubusercontent.com/3613592/74685034-6823fd00-51de-11ea-8e27-bd618b3a60d7.png)

[2020-02-23 20:47] olsh commented on #160
Closed due to inactivity, feel free to reopen the issue.

[2020-02-23 20:47] #160 closed

[2020-03-27 08:51] Ducatel opened #161 "In firefox, no news was retreived"
**Describe the bug**

On Firefox, there is no news retrieved and display in the addin.

![image](https://user-images.githubusercontent.com/1184332/77738384-09894480-7010-11ea-8e4b-fb508176c2a1.png)

**To Reproduce**
Steps to reproduce the behavior: (Like on the image)
1. Open the extension by clicking on it
2. Check there is no news listed
3. Click on the link to open feedly website
4. Check there

[2020-03-27 09:02] olsh commented on #161
Hi @Ducatel

Thanks for the report.

Sadly, I can't reproduce this.

Ensure that you are using the same user in the extension and on the site, you can view the current user on the page.
`moz-extension://591f6b7a-7259-4965-b48f-2715b3023ee1/options.html`

If you OK with developer tools, you can inspect the extension on the page. Please check the `Console` tab for errors.
`about:debugging#/runtime/t

[2020-03-27 09:09] Ducatel commented on #161
Ok, I just deconnect/reconnect my account and it's working ....

So Thanks 👍

Ps: For me the option page is `moz-extension://9f601241-5e67-46e0-b665-156d86c5c6e5/options.html`

[2020-03-27 09:09] #161 closed

[2020-03-30 10:21] radimsuckr opened #162 "Possible XSS"
**Describe the bug**
[This article](https://www.vzhurudolu.cz/prirucka/js-moduly) just showed up in my Feedly and the part `<script type="module">` of the title didn't show up in the extension. Only the ending question mark was shown.

**To Reproduce**
Steps to reproduce the behavior:
1. Have 'https://www.vzhurudolu.cz/prirucka/js-moduly' show up in the extension
2. The part of JS code does not sh

[2020-03-31 22:21] olsh commented on #162
Hi @radimsuckr,

Thanks for the reporting 👍

I just checked the RSS and it seems that feedly.com (not extension) removes the tag.
Here is the screenshot from feedly.com

![image](https://user-images.githubusercontent.com/3613592/78080476-ff23cd80-73b6-11ea-9155-f1b3c35bc8ba.png)

[2020-04-01 10:20] radimsuckr commented on #162
Hi @olsh, I'm happy to hear that's not a security vulnerability.

I think we can close this since "the mystery" is solved. Thank you!

[2020-04-01 10:20] #162 closed

[2020-04-01 10:30] olsh commented on #162
Yes, we are safe here.
https://developer.feedly.com/v3/entries/
According to Feedly API

Optional string the article’s title. This string does not contain any HTML markup.

Moreover, for Firefox, I do the following trick because otherwise, the extension doesn't pass the review.

https://github.com/olsh/Feedly-Notifier/blob/24aa46eed4615830698462a8c87fc156a4abed6b/src/scripts/popup.js#L124-L128

[2020-04-15 05:40] wrooot opened #163 "Can't load favicons of feed sites"
**Describe the bug**
Started a day ago. Feedly Notifier can't load favicons of sites in the list. Not sure if this is some change on Feedly size. I haven't updated or changed anything in these two days i think.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the list of new articles by pressing Feedly Notifier icon.
2. Wait for ~10 seconds while it tries to load the icons.
3. It shows a

[2020-04-15 06:58] olsh commented on #163
Thanks for the reporting, my icon server went down.

Fixed now.

[2020-04-15 06:58] #163 closed

[2020-04-16 06:04] wrooot commented on #163
I didn't know there is a server for the icons. Was it necessary to implement this way?

[2020-04-16 07:00] olsh commented on #163
Well, there are two reasons why I set up a custom server for icons:

* Feedly uses google service for getting icon, and it doesn't work on some domains, here is an example
Google: https://www.google.com/s2/favicons?domain=github.com&alt=feed
Custom: https://i.olsh.me/icon?url=https://github.com&size=16..64..300&fallback_icon_url=https://www.google.com/s2/favicons?domain=https://github.com&alt=feed

[2020-06-10 13:35] whereisr0da opened #164 "Feature Request : Custom notification sound"
Hi, everything is in the title.

The ability to set a path to an MP3 file used as notification sound.

Thank you.

(wrong label sorry)

[2020-06-12 09:21] whereisr0da commented on #164
Ok, thanks a lot :)

[2020-06-28 09:17] Xebtria commented on #164
I would like to disable the sound entirely, not just set a custom mp3

[2020-06-28 09:50] olsh commented on #164
@Xebtria, there is an option for this.
- [ ] `Play alert sound on new feeds`

Does it work for you?

[2020-06-28 11:18] Xebtria commented on #164
@olsh
I at first wanted to say that I don't have such an option:

https://i.imgur.com/bmlUPjL.png
https://i.imgur.com/DhCxNrO.png
https://i.imgur.com/OBwLclf.png

because in the ~5 hours I was using this extension I did not find the options, but I did now: https://i.imgur.com/HxDI3UI.png
seems like I was blind, it is working now, sorry for the inconvenience

[2020-07-18 10:43] olsh commented on #141
Fixed in #165
The update will be published to the store soon.

[2020-07-18 10:43] #141 closed

[2020-07-19 06:10] dukepeet opened #166 "Cannot log in"
Whichever login option I try in Chrome, after selecting the account used for logging in (or entering the login info for Feedly login), it just redirects me to https://olsh.me/Feedly-Notifier/.

[2020-07-19 06:12] dukepeet commented on #166
Removing and adding it again solved it :O
Sorry for the spam:)

[2020-07-19 06:12] #166 closed

[2020-07-20 06:18] sal-versij opened #167 "Doesn't login"
**Describe the bug**
Even if the login in feedly.com goes successfully, the extension ask me to login, so I think that the extension isn't viewing that i alredy logged in(probably something changed in the site so now the extension doesn't know if I've alredy made the login)

**To Reproduce**
Steps to reproduce the behavior:
1. Open the pop-up of the extension
2. Click on login
3. I've done the log

[2020-07-20 08:10] shinodem commented on #167
The same here, it redirect on main page that's all.
And android app many months won't open just widget working.

[2020-07-20 08:15] olsh commented on #167
Hi @sal-versij, @shinodem

Thank you for letting me know.
Have you tried to remove and install the extension? Could you please check the console output?

@shinodem
Please note, that the repo contains only browser extensions, there is no android app.

[2020-07-20 08:19] shinodem commented on #167
Hi,
Yes reinstalling extension works again.

[2020-07-20 08:22] olsh commented on #167
The bug was probably fixed in 2.25.0 version that is on the review now.

[2020-07-21 01:41] RichDG commented on #167
Hi. I for reasons I won't bore you with here I have to use an old version of Firefox (47.0.1) and consequently an old version of Feedly Notifier (2.11.2). All worked fine until the latest update and now I cannot log in any more. Is there a way to get this old version and try re-installing it (web search says no version this old available) or another way to get the authentication to log in to my ac

[2020-07-21 04:53] GAJansen commented on #167
After this add-on was autoupdated to version 2.24.4 in Vivaldi, I encountered the 'login-bug' too.

Removing and reinstalling as suggested by @olsh has solved the issue, allthough I am still in running version 2.24.4 (2.25.0 is apparently still in review)

[2020-07-21 17:06] olsh commented on #167
Version 2.25.0 was published in all stores.
Feel free to open the issue if the login doesn't work for you.

[2020-07-21 17:06] #167 closed

[2020-07-21 20:16] RichDG opened #168 "Log In failure"
Hi. Sorry but my question got lost in a previous thread. I am sure the answer is just no help is possible to get older versions or authentication tokens so apologies for any time you may feel I am wasting of yours but just wanted a definitive answer as the other threads "solution" was to install the latest version which isn't possible in my case due to the old version of firefox being used.

To re

[2020-07-21 20:42] olsh commented on #168
Hi @RichDG ,

Here is the old version.
[feedly_notifier-2.11.2-fx.zip](https://github.com/olsh/Feedly-Notifier/files/4956088/feedly_notifier-2.11.2-fx.zip)

In case if the reinstall doesn't solve the problem, I suggest removing Feedly Notifier settings from FF. I believe the settings can be found on `about:config` page, but I'm not sure. As a last resort, you can try to create a new FF profile.

[2020-07-21 20:54] RichDG commented on #168
You have nothing to apologize for at all, most wouldn't even bother to reply to a question about a version so far out of date so I appreciate you replying and trying to help.

Unfortunately re-installing the old version didn't work, even after removing all trace in about:config as well as the basic uninstall itself.

I had tried a new profile, creating one directly with feedly but to no avail.

Un

[2020-07-21 21:47] olsh commented on #168
I just installed FF47 and surprisingly the old version of the extension works.
I believe that the problem is in invalid token. So, we need to remove the old token somehow.

Have you tried to go to `about:addons` > `Feedly Notifier settings` and click the `Logout` button at the bottom? The `Logout` button should delete the old token.
Also, try to create a clean FF profile as described here https://

[2020-07-21 21:59] RichDG commented on #168
Thank you for persevering ! I logged out at the bottom and re-started the browser and before even trying the new profile bit I clicked the log in bit, it went to the same page for installing the add on and looked like nothing had happened...and then suddenly the notifier wasn't greyed out any more and had news items.

Thank you so much for all the help, I am not sure exactly which combo of re-inst

[2020-07-22 06:54] zlocorp commented on #168
I have some problem on last version of Google Chrome and Feedly Notifier plugin. I reinstall plugin, and problem was gone.

[2020-08-01 21:07] RejZoRSheep opened #169 "Increase "Max number of feeds in the popup" to higher than 60"
Is there a particular reason it's limited to maximum 60 entries? I sometimes have over 150 entries and when I have time I comb through them in a popup and check the content that interests me and discard the rest. However, I can't do it from oldest to newest so I'm checking them chronologically, but have to instead go from newest to oldest and as I'm removing them, older ones show up in the popup.

[2020-08-05 21:10] olsh commented on #169
Well, this is just an artificial limitation that can be easily removed.
I believe that I introduced the limit to avoid slow rendering in the popup, but I'm not sure.

Feedly API allows fetching more than 60 entries

https://developer.feedly.com/v3/streams/

[2020-08-05 21:11] olsh commented on #168
I suppose we can close the issue since it's solved.

Feel free to reopen it.

[2020-08-05 21:11] #168 closed

[2020-08-07 02:11] dondolarson opened #170 "Broken visibility of categories"
**Describe the bug**
I've "update only following categories" setting unchecked and one of my categories won't notify me about new posts, and it's even not visible in the category tab. Never seen it and was wondering all the time why I'm not receiving any notifications from it. There's about 10 unread notifications for this category when I go straight to Feedly webpage.

**Desktop (please complete

[2020-08-11 07:09] olsh commented on #170
Hi @dondolarson ,

Thanks for the reporting.
Have you tried to re-login? Are there any errors when you go to the options page? Does the category have some special characters?

[2020-08-11 10:27] dondolarson commented on #170
Yes, I did. I've cleaned browser cache too. No one of them has special characters and I can't see any errors either.

[2020-08-21 12:04] DcR-NL opened #171 "Feature Request: Auto-mark as read on scroll"
Please consider adding an option that automatically marks articles outside of the view (on top) as read when you scroll down.

This feature already exists in the official Feedly interfaces ([web option](https://feedly.com/i/account/mark-as-read)). It really helps to speed things up when you need to manage 500+ items a day; no need to re-read the same headlines when you get distracted and open the

[2020-09-17 18:53] #158 closed

[2020-09-17 19:11] olsh commented on #158
Hey @tjesp ,

I managed to reproduce the issue. The issue should be fixed in the 2.25.3 version, please feel free to reopen the issue if you get empty titles again.

[2020-09-29 11:48] ovidiuav opened #172 "Where are the settings in Firefox?"
This might sound dumb, but for the life of me I can't find the settings for the Firefox version. I'm reading about all these features in the add-on description but I don't see any way to make use of them (e.g. ability to filter feeds by category in the popup).

Some help would be greatly appreciated.

[2020-09-29 11:57] olsh commented on #172
Hi @ovidiuav

Here they are
![image](https://user-images.githubusercontent.com/3613592/94555311-11969b00-0264-11eb-849b-a12e5e4934c5.png)

[2020-09-29 12:01] ovidiuav commented on #172
Doh!

Thank you!

[2020-09-29 12:01] #172 closed

[2020-10-03 09:57] #127 closed

[2020-10-03 10:17] wrooot commented on #127
So, i see you have removed the donate button. Is https://www.paypal.me/feedlynotifier still valid for donations? :)

[2020-10-03 10:50] olsh commented on #127
Hi @wrooot,

The link is invalid. I no more accept donations.

I want to say a big thank you to all contributors who supported the project. All the money was spent on domain name and server for favicons (which you see in the extension popup).

[2020-10-03 12:27] wrooot commented on #127
I see. Thanks for providing this useful tool. Hope it will live on and keep improving.

[2020-10-10 13:16] tjesp opened #173 "No Reddit Feeds"
I just updated Feedly to Feedly Pro+ in order to get access to Reddit and Twitter feeds. I have added a couple of reddit feeds and they appear fine with unread messages on the Feedly website.

I can't make them appear in this extension on Microsoft Edge in OS X. (latest version of everything). I have tried the refresh button in the extension as well and the reddit feeds are not added.

**Desktop (

[2020-10-12 07:57] olsh commented on #173
Hi @tjesp,

I don't have a Pro subscription, so I can't test the feature.
PRs are welcome.

[2020-10-15 19:13] tjesp commented on #173
Just letting you know that reddit feeds were working fine. After setting up the pro+ subscription I removed this extension and reinstalled and restarted the browser and suddenly it seemed to work.

[2020-10-15 19:13] #173 closed

[2020-10-15 19:32] olsh commented on #173
Thanks @tjesp ! 👍

[2021-03-04 05:31] thebitstick opened #178 "Safari Extension"
The [github.io](https://olsh.me/Feedly-Notifier/) page lists a Safari extension that no longer functions.
Is there any possibility to restart development on the Safari Extension as a WebExtension?

[2021-03-04 14:59] olsh commented on #178
Hi @thebitstick, I have no plans to restart the development.
I don't have an Apple developer license. That's the main reason.

[2021-03-06 09:14] pullasuti opened #179 "Popup body/content max-height too low when page zoom is in use"
If default page zoom in Chrome settings is set to over 100%, the content of the notifier overflows and gets two scrollbars.

**Steps to reproduce the behavior:**
1. Go to Chrome -> Settings -> Appearance
2. Select 'Page zoom' higher than 100%
3. Set max number of feeds to more than 6 in Feedly Notifier
3. Open Feedly notifier popup
4. See too many scrollbars

**Expected behavior**
No double scroll

[2021-03-13 14:55] olsh commented on #179
Hi guys, I saw the PR. Sadly I can't test it right now because I can't reproduce the issue on my laptop (macOS).
I'll try to test it soon when I get my Windows PC.

[2021-03-14 13:41] olsh commented on #169
Fixed in 1db2037823da7fd22ca4d59aee5d22ada1876f3f

[2021-03-14 13:41] #169 closed

[2021-03-16 19:30] turbare opened #182 "[BUG] In version 2.25.6, "mark as read" doesn't work anymore"
[bug]In the 2.25.6 version, mark as read doesn't work; neither clicking mark as read nor clicking the actual feed item.
Started happening today 16.03.2021

[2021-03-16 20:43] protoz commented on #182
I came here to report the same thing.  I have to manually refresh to clear the feed.
Version: 2.25.6.  The Chrome store does not seem to have 2.25.7 (current release)

[2021-03-17 01:39] RichDG commented on #182
Same issue in 2.25.7 (firefox)

[2021-03-17 06:18] Kenya-West commented on #182
Can confirm, the same for Microsoft Edge

[2021-03-17 06:43] elhennig commented on #182
Same here after Firefox update to 86.0.1

[2021-03-17 07:41] olsh commented on #182
Hi guys,

I can't reproduce the issue on Chrome 89.0.4389.90 and Firefox 86.0.1 on Windows.

Could you please describe the bug in more detail?
What happens after clicking on the icon? Are there any errors in the console?

[2021-03-17 08:39] Theyssen commented on #182
I have the same issue
Chrome 89.0.4389.90
Feedly notifier 2.25.6

1. Click notifier extension icon
2. Click mark all as read icon
3. The feed reloads but same content from before is visible and counter does not decrease

[2021-03-17 08:49] RichDG commented on #182
Theyssen has described the issue perfectly.

The only solution I have found is to literally re-start the browser after the feed reloads. Doing that clears the marked as read feeds and allows the next batch of feeds to be seen.

[2021-03-17 09:31] elhennig commented on #182
One workaround is to open the feedly website and mark the articles as read there.

[2021-03-17 14:31] RichDG commented on #182
Without having done anything it appears the issue has gone. Possibly the issue was simply at the feedly website end when syncing and they have resolved their issue ?

[2021-03-17 14:32] elhennig commented on #182
Just tested, too. It works again for me.

[2021-03-17 14:35] turbare commented on #182
Fixed for me as well, no change done on my end, seems to have fixed itself.

[2021-03-17 14:35] #182 closed

[2021-03-17 16:29] Theyssen commented on #182
Fixed for me as well

[2021-03-17 20:27] #179 closed

[2021-05-06 11:51] John4266 opened #189 "[Firefox] | Notifications appearing twice."
**Describe the bug**
Unread notifications appearing twice on firefox startup

**To Reproduce**
Steps to reproduce the behavior:
(Make sure popups are enabled i think)
1. Wait for notifications.
2. Don't read them yet.
3. Restart the browser.
4. Observe the results.

**Expected behavior**
Popup should only appear once.

**Screenshots**
![image](https://user-images.githubusercontent.com/70203256/117

[2021-11-11 16:25] Gabarito007 commented on #164
Where is the sound file?
I had searched under entire Firefox profile folder, but I couldn't find it.
Sound is too loud and I'd like just to change it for another one.

So...

...where is the sound file?

Txs

[2021-11-11 18:25] olsh commented on #164
Hi @Gabarito007
The file is here https://github.com/olsh/Feedly-Notifier/tree/master/src/sound
and here is the code that plays it
https://github.com/olsh/Feedly-Notifier/blob/master/src/scripts/core.js#L396-L400

I'm not sure if FF unpacks extensions.

[2021-11-11 19:06] Gabarito007 commented on #164
Thank you, for your reply, olsh.

But I mean "where is the sound file" **on my computer**.
I say that because I may change it for another sound filme, not too loud than this.

There is no "alert.mp3" on my machine.
But I can hear it at each new feedly notify.

[2021-11-11 19:13] olsh commented on #164
I believe that FF stores extensions here for windows.
`C:\Users\olsh\AppData\Roaming\Mozilla\Firefox\Profiles\yltzgf2j.default-1481210500319-1595066975366\extensions\jid1-BOjn8b0IM7kH2w@jetpack.xpi`

Where `olsh` is my OS username and `yltzgf2j.default-1481210500319-1595066975366` is my FF profile.
`jid1-BOjn8b0IM7kH2w@jetpack.xpi` is the extension file. I'm not sure if FF unpacks it on disk somew

[2021-11-11 19:24] Gabarito007 commented on #164
I could find the extension. And it has, in fact, "alert.mp3" inside xpi file.
But it ruin my plans to change the sound of the file...

[2021-11-11 19:26] Gabarito007 commented on #164
Hey!

I had an idea!

I unpacked xpi file and overwritten original alert.mp3 with a lower sound and packed it again.
FF accept my modified xpi file and now I'm waiting the next notify to check if my changes work.

🙂

[2021-11-11 20:02] Gabarito007 commented on #164
---------------------

Success!

I can change and/or edit file "alert.mp3" to fill my purposes.

Thank you!

😀😀😀

[2022-01-30 08:07] #189 closed

[2022-03-15 13:12] i4song opened #203 "Login doesn't work"
**Describe the bug**
#167
Same as above bug. It was worked before, but after disabling and able it again, It doesn't work anymore. 😢
The extension redirect me to next link after login, and nothing happens.
[https://olsh.me/Feedly-Notifier/?code=#####&state=#####]()

**To Reproduce**
Steps to reproduce the behavior:
1. Download Extention
2. Click extension badge
3. Click login button
4. Login with

[2022-03-17 17:30] i4song commented on #203
It works again. Sorry for spam

[2022-03-17 17:30] #203 closed

[2022-04-02 23:10] olsh opened #205 "This plugin will stop working soon"
It'll probably happen on the ~6th of April 2022.

The reason why this happens is not technical or lack of interest. The reason is that _I'm Russian_.
I cannot renew the domain (olsh.me) that is used for the authentication and image server, MasterCard & Visa cards issued by _Russian banks_ are blocked everywhere, and PayPal is blocked _for all Russians_. So I have no options to renew the domain. I'

[2022-04-08 11:37] duoduobingbing opened #206 "Icons are not loaded"
**Describe the bug**
Small thumbnail icons are not loaded

**To Reproduce**
1. open add-on window
2. see posts without icons

**Expected behavior**
icons should be displayed

**Suspected Issue**
Using the option *Load this image in a different tab* reveals that the icon was supposed to be loaded from `https://i.olsh.me/icon?url=https://www.youtube.com&size=16..64..300&fallback_icon_url=https://www

[2022-04-08 11:49] olsh commented on #206
Hi @duoduobingbing

olsh.me domain cannot be renewed because I'm Russian. Basically, I cannot renew it because of sanctions.
I'm transferring the domain to another registrar that is available for Russians.

[2022-04-10 08:37] RejZoRSheep commented on #206
I honestly wouldn't mind if you just add option to disable those icons entirely in the settings. So we can uncheck the option and just disable them entirely. Easier to live without the icons than knowing they are suppose to be there but aren't showing and you only see a placeholder spot...

[2022-04-11 19:10] gwolf2u commented on #206
why not simply use the fallback url?
https://github.com/olsh/Feedly-Notifier/blob/master/src/scripts/core.js#L734

[2022-04-13 06:11] RejZoRSheep commented on #206
Better question, why does it even have to parse icons from a 3rd party domain to begin with? Why not just use the source of the feed?

[2022-04-13 07:25] olsh commented on #206
Hi guys,

Here are reasons why I set up a custom icon server
https://github.com/olsh/Feedly-Notifier/issues/163#issuecomment-614453428

What do you mean by `the source of the feed`?

[2022-04-13 08:08] vahancho commented on #206
Hi Oleg,

First of all, thank you for the great extension. I use to use it several years and was quite happy.
The resent changes are annoying of course - it's hard to see which item belongs to which feed, while icons were a good visual indication. IMO having a dummy icon or an icon with lower resolution is better than nothing. This ugly placeholder is really annoying.
What about this service: http

[2022-04-13 18:34] duoduobingbing commented on #206
@olsh Thanks for replying so quickly.

One option would be to temporarily switch the icon loading to Google entirely and then switch back to a custom domain when there is one available. I guess most users would prefer the 16x16 icons over no icons at all for the time being.

Another option would be to switch to a `.ru`-Domain or use a Domain Registrar that allows anonymous (or for that matter non

[2022-04-14 12:55] #206 closed

[2022-04-14 12:56] zoispag commented on #206
I can confirm they are now working! Thanks

[2022-05-13 03:13] animehunter2k19 opened #211 "Unable to login after logging out (Chrome)"
**Describe the bug**
Can't log in using my gmail account after I logged out manually
The Login button is going through the google account sign in procedure and ending up on a page with the title "Install"
But never logs into my feedly account, login button still visible

Uninstalled and reinstall extension, same result
Also Login button missing from Notifier options page (I'm assuming it should be

[2022-05-13 12:53] animehunter2k19 commented on #211
Just tried again
and it looks like it fixed itself

[2022-05-13 12:53] #211 closed

[2022-05-19 05:03] elhennig commented on #182
I see some strange behavior in 2.26.4 with FF 100 on Linux since yesterday: The mark as read only marks the latest article read, not all in the popup as before. Since there was no update of the feedly notifier it must be the firefox update or some config on the feedly API side.

[2022-05-19 05:06] elhennig opened #212 "Behavior in Firefox 100 (Linux/Windows)"
I see some strange behavior in 2.26.4 with FF 100 on Linux since yesterday: The mark as read only marks the latest article read, not all in the popup as before. Since there was no update of the feedly notifier it must be the firefox update or some config on the feedly API side.
Opening the feedly web site, marking all articles read there does not update the counter in the notifier addon, Also the

[2022-06-14 07:04] elhennig commented on #212
Still not working with Firefox 101. Any update on this?

[2022-06-14 07:22] olsh commented on #212
Hi @elhennig,

Have you tried to create a clean Firefox profile and test it again?
Also, it would be helpful if you could provide errors from console.

[2022-06-20 10:10] victualsquid opened #216 ""No Title" posts confuse the interface"
When there are posts in my feed with no title they are displayed in this confusing way:

Here is a picture of the notifier drop-down.
https://i.imgur.com/s2zozHl.png

For the first one clicking the eye or dropdown symbol opens the page and marks it as read.
This is the post:
https://scarysigns.tumblr.com/post/687522464615546880
From this feed:
https://scarysigns.tumblr.com/rss

For the second one

[2022-06-21 08:18] elhennig commented on #212
I do not see errors in the console that I could relate to this problem. Cleaning the profile is not an option for me at this point. There is some behavior with FF100+ with other addons to, that popups are closed and seem to hang for some time.

[2022-06-21 09:07] olsh commented on #212
Just for a test.

I don't have a Linux machine to reproduce the issue. I didn't manage to reproduce the issue on a Windows machine.

[2022-06-21 09:29] elhennig commented on #212
I guess it could also be related to some gtk libs on Linux in combination with FF 100+

[2022-06-24 10:41] elhennig commented on #212
Maybe you can at least reproduce the behavior with not syncing to the feedly website on Windows. I could reproduce it on Windows.

[2022-06-24 10:44] olsh commented on #212
I use the plugin myself on a daily basis and don't have the issue. Also, this is a pretty critical bug, but nobody has reported it yet.
Could you please provide the exact steps to reproduce? Also, please make sure you use the same account on the Feedly website and the extension.

[2022-06-24 11:11] elhennig commented on #212
For the sync problem it seems that the problem was between Screen and the back of the chair :wink:  I feel a bit stupid :facepalm:  Apparently I was having one account to many...

So now, as I am doing it right, sync is working. Thanks for your hint! :+1:
It only remains that the popup closes and hangs from time to time but this seems to be a FF problem on Linux as it affects other popups, too

[2022-06-24 11:11] #212 closed

[2022-06-24 18:08] victualsquid commented on #216
I don't actually care what is written in the fake title as long as things become consistent.
I suggested "no title" because that is what feedly itself seems to use in their web-interface.

[2022-06-24 19:01] #216 closed

[2022-06-24 19:14] olsh commented on #216
The issue was fixed in the 2.26.5 version. The version should be available soon.
Thanks 👍🏻

[2022-06-29 14:50] travisj-dev opened #217 "Enhancement: Ability to change the order of the named feed tabs"
When opening in the extension, I see my feed tabs "All", "Feed 2", "Feed1" ... I would like the ability to remove "All" and move "Feed 1" to the first tab and generally organize the order. Great extension by the way, very valuable.

[2022-08-14 13:12] plissken1138 opened #219 "1 Ghost Item"
After latest update it shows 1 ghost item on empty feed. Reinstalling add-on did not fix it.

![](https://i.imgur.com/9RZa0Qk.png)

win10edu x64 21H2
latest firefox

[2022-08-14 17:46] plissken1138 commented on #219
well, seems it sorted itself out, I guess.

[2022-08-15 07:11] #219 closed

[2022-10-07 13:25] Mioni opened #224 "Sorting problem"
Hello, I use engagement rate mode but it is not working, there is an article that has more popularity but is below that has less popularity.
![image](https://user-images.githubusercontent.com/6830783/194564040-2d127e00-9589-4e1f-b22a-55c2d48ffc34.png)

[2022-10-08 14:37] olsh commented on #224
Hi @Mioni

Thank you for the feedback 👍🏻

This may sound strange, but this is by design 😟
The plugin performs sorting as Feedly does. It uses `engagementRate` for sorting, not `engagement`.
https://github.com/olsh/Feedly-Notifier/blob/9fb5d6be181995d3c02e9dbeae518fc421dcc461/src/scripts/core.js#L605-L611

Here is the response from the Feedly team:

Feel free to re-open the issue.

[2022-10-08 14:37] #224 closed

[2022-10-14 17:20] soya-daizu commented on #45
@olsh
Sorry for the necro, but bundling and manually specifying a region-specific font is not the solution for this problem.
Noto Sans CJK family comes with different variants depending on the target region (JP, KR, SC, TC, and HW), because a lot of ideographs in these languages share the same code point but has a slightly different shape depending on the region.

The font bundled with Feedly Noti

[2022-10-14 20:25] olsh commented on #45
Hi @soya-daizu,

Thank you for the detailed explanation. 🔝
If I understand you suggestion correctly, this will lead us to the initial state (on the topicstarter sceencap https://github.com/olsh/Feedly-Notifier/issues/45#issue-109726658 )? Please correct me if I'm wrong.

Here are two screenshots on my Windows 10 with the latest updates
With current code
![1](https://user-images.githubusercontent.c

[2022-10-14 22:43] soya-daizu commented on #45
It seems like your system does have some sans-serif font that can display Korean scripts, but in a limited set of weight so it looks odd when combined with bold latin scripts.

I can only check the behavior in macOS and Manjaro Linux, and macOS already comes with good region-specific fonts with various weights regardless of locale settings. For example, there's "Apple SD Gothic Neo" for Korean, "H

[2022-10-15 02:06] soya-daizu commented on #45
@olsh

It seems like your system does have some sans-serif font that can display Korean scripts, but with a limited set of weight so it looks odd when combined with bold latin characters. It's a little different from the topic starter's screenshot because in his screenshot, all Korean scripts are displayed in serif typeface which itself isn't bad when serif script is intended, but not in combinati

[2022-10-15 07:25] olsh commented on #45
You're right, `font-weight: 700;` looks much better in my opinion.

![image](https://user-images.githubusercontent.com/3613592/195973755-c4a716a5-88f4-4674-920b-ccb4b20ae00c.png)

I can test it on Windows if you give me RSS feeds for testing.

[2022-10-15 19:43] soya-daizu commented on #45
On my environment, setting the weight to 700 thickens the latin characters as well, but I was able work it around by adding font-weight specification to the @font-face as well.
![700_1](https://user-images.githubusercontent.com/18283756/196004991-09bf300c-fe5e-4ca8-b6f5-f5d6e7b58dc4.png)
![700_2](https://user-images.githubusercontent.com/18283756/196004994-1ad91bd8-bdae-4633-8a0a-726e693fdd6e.png)

[2022-10-16 13:40] olsh commented on #45
@soya-daizu
Thank you! 👍🏻
Looks good, would you open a PR?

[2022-10-16 18:00] soya-daizu commented on #45
Opened!

[2022-10-19 18:57] Mioni commented on #224
Wouldn't there be a way for the extension to sort the most popular articles? like this extension does? https://github.com/soufianesakhi/feedly-filtering-and-sorting

[2022-10-19 19:20] olsh commented on #224
Well, we could sort by the `engagement` property on the client, but this won't solve the problem with sorting on the server side.
The extension requests only top `n` (Max number of feeds in the popup) articles from the Feedly API. And Feedly API sorts by the `engagementRate` anyway.

[2022-10-24 11:24] ThiefMaster opened #226 "Annoying dot in the toolbar icon"
![image](https://user-images.githubusercontent.com/179599/197514904-bbee54f4-b352-4553-8f75-96b74643cbb0.png)

This dot always shows up except when hovering the icon. It started showing up pretty recently - not sure if it's a problem with the latest firefox or the extension that's causing it.

**Desktop:**
 - OS: Windows 10
 - Browser: Firefox
 - Version: 107.0b2

[2022-10-24 16:30] olsh commented on #226
Hi @ThiefMaster
It looks like it's a bug in FF.
https://discourse.mozilla.org/t/what-are-those-green-dots-under-some-addons-in-new-firefox-developer-edition-107/106797

[2022-10-24 16:39] #226 closed